/* Sports Direct Malaysia Start */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

:root {
  --primary-color: #ee3424;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --search-bg: #ee3424;
  --white-color: #ffffff;
  --light-gray: #cbcbcb;
  --back-to-site: #ffffff;
  --sidebar-link-active: #ffffff;
  --sidebar-link-head: #333333;
  --sidebar-link-active-head: #ffffff;
  --sidebar-bg-active: #23282b;
  --site-title: #333333;
  --search-bg-color: #0000ed;
  --body-font: "Lato", sans-serif;
  --voteup-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg");
  --votedown-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg");
  --accordion-minus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
}

/* Sports Direct Malaysia  End*/

/* Rangers Megastore Start */
:root {
  --primary-color: #005da2;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --search-bg: #005da2;
  --white-color: #ffffff;
  --light-gray: #cbcbcb;
  --back-to-site: #005da2;
  --sidebar-link-active: #333333;
  --sidebar-link-head: #333333;
  --sidebar-link-active-head: #333333;
  --sidebar-bg-active: #f2f2f2;
  --site-title: #333333;
  --search-bg-color: #f2f2f2;
  --body-font: Arial, Helvetica, Tahoma, sans-serif;
  --voteup-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg");
  --votedown-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg");
  --accordion-minus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
}

/* Rangers Megastore End */

/* Sports Direct Singapore Start */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

:root {
  --primary-color: #ee3424;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --search-bg: #ee3424;
  --white-color: #ffffff;
  --light-gray: #cbcbcb;
  --back-to-site: #ffffff;
  --sidebar-link-active: #ffffff;
  --sidebar-link-head: #333333;
  --sidebar-link-active-head: #ffffff;
  --sidebar-bg-active: #23282b;
  --site-title: #333333;
  --search-bg-color: #0000ed;
  --body-font: "Lato", sans-serif;
  --voteup-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg");
  --votedown-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg");
  --accordion-minus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
}

/* Sports Direct Singapore End */

/* SoulCal Start */
:root {
  --primary-color: #de5726;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --search-bg: #cccccc;
  --white-color: #ffffff;
  --light-gray: #cbcbcb;
  --back-to-site: #de5726;
  --sidebar-link-active: #000000;
  --sidebar-link-head: #333333;
  --sidebar-link-active-head: #000000;
  --sidebar-bg-active: #f2f2f2;
  --site-title: #333333;
  --search-bg-color: #de5726;
  --body-font: Arial, Helvetica, Tahoma, sans-serif;
  --voteup-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg");
  --votedown-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg");
  --accordion-minus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
}

/* SoulCal End */
/* Soviet Start */
:root {
  --primary-color: #8d181b;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --search-bg: #8d181b;
  --white-color: #ffffff;
  --light-gray: #cbcbcb;
  --back-to-site: #ffffff;
  --sidebar-link-active: #ffffff;
  --sidebar-link-head: #333333;
  --sidebar-link-active-head: #ffffff;
  --sidebar-bg-active: #2f3030;
  --site-title: #333333;
  --search-bg-color: #2f3030;
  --body-font: Arial, Helvetica, Tahoma, sans-serif;
  --voteup-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg");
  --votedown-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg");
  --accordion-minus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
}

/* Soviet End  */

/* SportFX Start */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

:root {
  --primary-color: #e4002b;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --search-bg: #e4002b;
  --white-color: #ffffff;
  --light-gray: #cbcbcb;
  --back-to-site: #ffffff;
  --sidebar-link-active: #ffffff;
  --sidebar-link-head: #333333;
  --sidebar-link-active-head: #ffffff;
  --sidebar-bg-active: #333333;
  --site-title: #333333;
  --search-bg-color: #333333;
  --body-font: "Lato", sans-serif;
  --voteup-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg");
  --votedown-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg");
  --accordion-minus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
}

/* SportFX End */

/* Sports Direct Start */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

:root {
  --primary-color: #ee3424;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --search-bg: #ee3424;
  --white-color: #ffffff;
  --light-gray: #cbcbcb;
  --back-to-site: #ffffff;
  --sidebar-link-active: #ffffff;
  --sidebar-link-head: #333333;
  --sidebar-link-active-head: #ffffff;
  --sidebar-bg-active: #23282b;
  --site-title: #333333;
  --search-bg-color: #0000ed;
  --body-font: "Lato", sans-serif;
  --voteup-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg");
  --votedown-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg");
  --accordion-minus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
}

/* Sports Direct End  */
/* Slazenger Start */

:root {
  --primary-color: #a91700;
  --secondary-color: #000000;
  --tertiary-color: #f2f2f2;
  --search-bg: #a91700;
  --white-color: #ffffff;
  --light-gray: #cbcbcb;
  --back-to-site: #a91700;
  --sidebar-link-active: #ffffff;
  --sidebar-link-head: #333333;
  --sidebar-link-active-head: #ffffff;
  --sidebar-bg-active: #360c02;
  --site-title: #333333;
  --search-bg-color: #f2f2f2;
  --body-font: Arial, Helvetica, Tahoma, sans-serif;
  --voteup-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg");
  --votedown-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url("https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg");
  --accordion-minus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
}

/* Slazenger End*/
/* Swimshop Start */

:root {
  --primary-color: #10559C;
  --secondary-color: #000000;
  --tertiary-color: #F2F2F2;
  --search-bg: #10559C;
  --white-color: #FFFFFF;
  --light-gray: #CBCBCB;
  --back-to-site:#10559C;
  --sidebar-link-active:#000000;
  --sidebar-link-head:#333333;
  --sidebar-link-active-head:#000000;
  --sidebar-bg-active:#F2F2F2;
  --site-title:#333333;
  --search-bg-color:#EE3425;
  --body-font: Arial,Helvetica,Tahoma,sans-serif;
  --voteup-url:url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
  --votedown-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
  --accordion-minus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
  
  }

/* Swimshop End */

/* Table Tennis Pro Start */
:root {
  --primary-color: #0463C4;
  --secondary-color: #000000;
  --tertiary-color: #F2F2F2;
  --search-bg: #0463C4;
  --white-color: #FFFFFF;
  --light-gray: #CBCBCB;
  --back-to-site:#0463C4;
  --sidebar-link-active:#FFFFFF;
  --sidebar-link-head:#333333;
  --sidebar-link-active-head:#FFFFFF;
  --sidebar-bg-active:#367836;
  --site-title:#333333;
  --search-bg-color:#367836;
  --body-font: Arial,Helvetica,Tahoma,sans-serif;
  --voteup-url:url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
  --votedown-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
  --accordion-minus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
  
  }



/* Table Tennis Pro End */

/* Pulp Start */
:root {
  --primary-color: #C20624;
  --secondary-color: #000000;
  --tertiary-color: #F2F2F2;
  --search-bg: #FFFFFF;
  --white-color: #FFFFFF;
  --light-gray: #CBCBCB;
  --back-to-site:#FFFFFF;
  --sidebar-link-active:#FFFFFF;
  --sidebar-link-head:#333333;
  --sidebar-link-active-head:#FFFFFF;
  --sidebar-bg-active:#302C2C;
  --site-title:#333333;
  --search-bg-color:#302C2C;
  --body-font: Arial,Helvetica,Tahoma,sans-serif;
  --voteup-url:url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
  --votedown-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
  --accordion-minus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
  
  }


/* Pulp End */

/* Carlton Sports Start */
:root {
  --primary-color: #D8BA39;
  --secondary-color: #000000;
  --tertiary-color: #F2F2F2;
  --search-bg: #D8BA39;
  --white-color: #FFFFFF;
  --light-gray: #CBCBCB;
  --back-to-site:#FFFFFF;
  --sidebar-link-active:#FFFFFF;
  --sidebar-link-head:#333333;
  --sidebar-link-active-head:#FFFFFF;
  --sidebar-bg-active:#000000;
  --site-title:#333333;
  --search-bg-color:#444444;
  --body-font: Arial,Helvetica,Tahoma,sans-serif;
  --voteup-url:url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
  --votedown-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
  --accordion-minus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
  
  }

/* Carlton Sports End */

/* No Fear Start */
:root {
  --primary-color: #EE1C25;
  --secondary-color: #000000;
  --tertiary-color: #F2F2F2;
  --search-bg: #EE1C25;
  --white-color: #FFFFFF;
  --light-gray: #CBCBCB;
  --back-to-site:#EE1C25;
  --sidebar-link-active:#EE1C25;
  --sidebar-link-head:#333333;
  --sidebar-link-active-head:#000000;
  --sidebar-bg-active:#E3E3E3;
  --site-title:#333333;
  --search-bg-color:#221E1F;
  --body-font: Arial,Helvetica,Tahoma,sans-serif;
  --voteup-url:url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
  --votedown-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
  --searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
  --accordion-minus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
  --accordion-plus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);
  
  }


/* No Fear End */

/* USA Pro Start */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

:root {
--primary-color: #B5C8DF;
--secondary-color: #000000;
--tertiary-color: #F2F2F2;
--search-bg: #B5C8DF;
--white-color: #FFFFFF;
--light-gray: #CBCBCB;
--back-to-site:#B5C8DF;
--sidebar-link-active:#FFFFFF;
--sidebar-link-head:#333333;
--sidebar-link-active-head:#FFFFFF;
--sidebar-bg-active:#7A7C7F;
--site-title:#333333;
--search-bg-color:#7A7C7F;
--body-font: 'Lato', sans-serif;
--voteup-url:url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
--votedown-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
--searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
--accordion-minus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
--accordion-plus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);

}
/* USA Pro End */

/* Cruise Fashion Start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --tertiary-color: #F2F2F2;
    --search-bg: #000000;
    --white-color: #FFFFFF;
    --light-gray: #CBCBCB;
     --back-to-site:#000000;
     --sidebar-link-active:#333333;
     --sidebar-link-head:#333333;
     --sidebar-link-active-head:#333333;
     --sidebar-bg-active:#F7F7F7;
     --site-title:#333333;
     --article-cancel:#EEEEEE;
     --search-bg-color:#F7F7F7;
    --body-font:  'Poppins', sans-serif;;
    --voteup-url:url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
    --votedown-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
    --searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
    --accordion-minus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
    --accordion-plus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);

}


/* Cruise Fashion End */

/* Flannels Start */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
--primary-color: #000000;
--secondary-color: #000000;
--tertiary-color: #F2F2F2;
--search-bg: #3D3D3D;
--white-color: #FFFFFF;
--light-gray: #CBCBCB;
--back-to-site:#E0FF03;
--sidebar-link-active:#E0FF03;
--sidebar-link-head:#000000;
--sidebar-link-active-head:#FFFFFF;
--sidebar-bg-active:#000000;
--site-title:#000000;
--search-bg-color:#191919;
--body-font: 'Montserrat', sans-serif;
--voteup-url:url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
--votedown-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
--searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
--accordion-minus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
--accordion-plus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);

}
/* Flannels End */

/* USC Start */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
--primary-color: #15ABD2;
--secondary-color: #000000;
--tertiary-color: #F2F2F2;
--search-bg: #15ABD2;
--white-color: #FFFFFF;
--light-gray: #CBCBCB;
--back-to-site:#15ABD2;
--sidebar-link-active:#15ABD2;
--sidebar-link-head:#333333;
--sidebar-link-active-head:#333333;
--sidebar-bg-active:#F3F3F3;
--site-title:#333333;
--search-bg-color:#EFEFEF;
--body-font: 'Montserrat', sans-serif;
--voteup-url:url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
--votedown-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
--searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
--accordion-minus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
--accordion-plus-url:url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);

}

/* USC End */