{% assign imagePrefixUrl = "https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect" %}
{% if portal.current_page != 'csat_survey' %}
<section class="footer-banner-section">
    <div class="page">
        <div class="footer-search-warp">
            <div class="search-img">
                <img src="{{imagePrefixUrl}}/{{portal.name | replace: " &", "" | replace: " ", "-" | downcase }}/bottom-banner.png">
            </div>
            <div class="footer-search-box">
                <h3>Can't find what you're looking for?</h3>
                {% snippet search_form %}
                <a class="footer-sumbit-ticket-btn" href="https://help.flannels.com/support/tickets/new"><span>submit a ticket</span></a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
 <!--    <section class="footer-bottom">
        <div class="page">
            <div class="footer-bottom-wrap">
                <div class="footer-bottom-wrap-row">
                    <div class="col-md-3">
                        <h4>TOP BRANDS</h4>
                        <ul class="footer-menu-list">
                            <li>
                                <a href="https://www.flannels.com/balenciaga">Balenciaga</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/gucci">Gucci</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/alexander-mcqueen">Alexander McQueen</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/canada-goose">Canada Goose</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/burberry">Burberry</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/stone-island">Stone Island</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/moncler">Moncler</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/off-white">Off White</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/valentino">Valentino</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/versace">Versace</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/cp-company">C.P. Company</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>CUSTOMER SERVICES</h4>
                        <ul class="footer-menu-list">
                            <li>
                                <a href="https://www.flannels.com/stores">Store Finder</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/personal-shopping">Personal Shopping</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/style-and-collect-service">Style and Collect</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>SHOPPING ONLINE</h4>
                        <ul class="footer-menu-list">
                            <li>
                                <a href="https://www.flannels.com/accountinformation">My Account</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/login?returnurl=%2faccountinformation%2fviewwishlist">Wishlist</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/accountinformation/orderhistorysummary">Track Order</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>ABOUT US</h4>
                        <ul class="footer-menu-list">
                            <li>
                                <a href="https://www.flannels.com/customerservices/otherinformation/aboutus">About Flannels</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/careers">Careers</a>
                            </li>
                            <li>
                                <a href="https://www.flannels.com/sitemap">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-social-contact">
                <ul class="footer-social-contact-list">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/flannelsfashion/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.6" height="24.8" viewBox="0 0 12.6 24.8">
                                <path id="Path_260" data-name="Path 260" d="M51.5,372.4v-11H47.9V357h3.6v-3.4a5.173,5.173,0,0,1,4.6-5.8h1c1.6,0,3,.2,3.4.2v4H58.1c-1.8,0-2.2.8-2.2,2.2v3h4l-.6,4.4H56.1v11" transform="translate(-47.9 -347.8)" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/FLANNELSFASHION">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25.4" height="20.6" viewBox="0 0 25.4 20.6">
                                <path id="Path_263" data-name="Path 263" d="M171.2,353.3v.6a14.511,14.511,0,0,1-14.4,14.6h-.2a14.422,14.422,0,0,1-8-2.4h1.2a10.334,10.334,0,0,0,6.4-2.2,4.922,4.922,0,0,1-4.8-3.6h1a3.4,3.4,0,0,0,1.4-.2,5.135,5.135,0,0,1-4.2-5h0a5.325,5.325,0,0,0,2.4.6,5.218,5.218,0,0,1-2.2-4.2,4.02,4.02,0,0,1,.8-2.6,14.514,14.514,0,0,0,10.6,5.4c0-.4-.2-.8-.2-1.2a5.164,5.164,0,0,1,5.2-5.2h0a5.464,5.464,0,0,1,3.8,1.6,8.836,8.836,0,0,0,3.2-1.2,5.173,5.173,0,0,1-2.2,2.8,16.666,16.666,0,0,0,3-.8,8.017,8.017,0,0,1-2.8,3Z" transform="translate(-148.6 -347.9)" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/flannelsman/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24.027" height="24.171" viewBox="0 0 24.027 24.171">
                                <g id="Group_288" data-name="Group 288" transform="translate(-12762.911 -1989.911)">
                                    <path id="Path_209" data-name="Path 209" d="M33.825,353.952a6.868,6.868,0,0,0-1.939-5.042,7.754,7.754,0,0,0-5.042-1.939,84.132,84.132,0,0,0-9.891,0,6.868,6.868,0,0,0-5.042,1.939,7.754,7.754,0,0,0-1.939,5.042,84.145,84.145,0,0,0,0,9.891,6.868,6.868,0,0,0,1.939,5.042,7.754,7.754,0,0,0,5.042,1.939,84.159,84.159,0,0,0,9.891,0,6.868,6.868,0,0,0,5.042-1.939,7.754,7.754,0,0,0,1.939-5.042Z" transform="translate(12753.1 1643.1)" stroke="#fff" stroke-miterlimit="10" stroke-width="0.027" />
                                    <circle id="Ellipse_312" data-name="Ellipse 312" cx="1.358" cy="1.358" r="1.358" transform="translate(12779.941 1994.143)" fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width="0.027" />
                                    <path id="Path_210" data-name="Path 210" d="M18.448,360.3a4.848,4.848,0,1,1,4.848-4.848,4.8,4.8,0,0,1-4.848,4.848Z" transform="translate(12756.646 1646.646)" stroke="#fff" stroke-miterlimit="10" stroke-width="1" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/flannelswoman/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24.027" height="24.171" viewBox="0 0 24.027 24.171">
                                <g id="Group_288" data-name="Group 288" transform="translate(-12762.911 -1989.911)">
                                    <path id="Path_209" data-name="Path 209" d="M33.825,353.952a6.868,6.868,0,0,0-1.939-5.042,7.754,7.754,0,0,0-5.042-1.939,84.132,84.132,0,0,0-9.891,0,6.868,6.868,0,0,0-5.042,1.939,7.754,7.754,0,0,0-1.939,5.042,84.145,84.145,0,0,0,0,9.891,6.868,6.868,0,0,0,1.939,5.042,7.754,7.754,0,0,0,5.042,1.939,84.159,84.159,0,0,0,9.891,0,6.868,6.868,0,0,0,5.042-1.939,7.754,7.754,0,0,0,1.939-5.042Z" transform="translate(12753.1 1643.1)" stroke="#fff" stroke-miterlimit="10" stroke-width="0.027" />
                                    <circle id="Ellipse_312" data-name="Ellipse 312" cx="1.358" cy="1.358" r="1.358" transform="translate(12779.941 1994.143)" fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width="0.027" />
                                    <path id="Path_210" data-name="Path 210" d="M18.448,360.3a4.848,4.848,0,1,1,4.848-4.848,4.8,4.8,0,0,1-4.848,4.848Z" transform="translate(12756.646 1646.646)" stroke="#fff" stroke-miterlimit="10" stroke-width="1" />
                                </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-copy-right">
                <p>&copy; <span>2021</span> The Flannels Group Ltd</p>
            </div>
        </div>
    </section> -->
    <div class="page">
        <div class="footer-bottom-row">
            <div class="footer-logo">
                <img src="{{imagePrefixUrl}}/{{portal.name | replace: " &", "" | replace: " ", "-" | downcase }}/flanlogo-black.svg">
            </div>
            <div class="footer-social-contact">
                <ul class="footer-social-contact-list">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/flannelsfashion/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                              <g id="facebook" transform="translate(-26.2 -198.8)">
                                <rect id="Rectangle" width="35" height="35" transform="translate(29.7 202.3)" fill="none"/>
                                <g id="Oval">
                                  <circle id="Ellipse_444" data-name="Ellipse 444" cx="17.5" cy="17.5" r="17.5" transform="translate(29.7 202.3)" fill="none"/>
                                  <circle id="Ellipse_445" data-name="Ellipse 445" cx="20" cy="20" r="20" transform="translate(27.2 199.8)" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="2"/>
                                </g>
                                <path id="Shape" d="M48.9,231.2h-5V219.3H41.4v-4.1h2.5v-2.5c0-3.3,1.4-5.3,5.5-5.3h3.4v4.1H50.7c-1.6,0-1.7.6-1.7,1.6v2h3.8l-.4,4.1H49l-.1,12Z"/>
                              </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/FLANNELSFASHION">
                            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="43" viewBox="0 0 47 43">
                                  <g id="twitter_1_" transform="translate(-379.8 -198.3)">
                                    <rect id="Rectangle-2_1_" width="35" height="35" transform="translate(379.8 202.3)" fill="none"/>
                                    <g id="Oval-2_1_">
                                      <circle id="Ellipse_434" data-name="Ellipse 434" cx="17.5" cy="17.5" r="17.5" transform="translate(387.8 202.3)" fill="none"/>
                                      <circle id="Ellipse_435" data-name="Ellipse 435" cx="20" cy="20" r="20" transform="translate(385.3 199.8)" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/>
                                    </g>
                                    <path id="Shape-2_1_" d="M413.3,213.4a5.245,5.245,0,0,0,2-2.6,9.612,9.612,0,0,1-2.8,1.1,4.459,4.459,0,0,0-3.3-1.5,4.722,4.722,0,0,0-4.5,4.7,4.1,4.1,0,0,0,.1,1.1,12.479,12.479,0,0,1-9.2-4.9,4.751,4.751,0,0,0-.6,2.4,4.614,4.614,0,0,0,2,3.9,3.606,3.606,0,0,1-2-.6v.1a4.612,4.612,0,0,0,3.6,4.6,5.019,5.019,0,0,1-1.2.2,1.949,1.949,0,0,1-.8-.1,4.5,4.5,0,0,0,4.2,3.3,8.658,8.658,0,0,1-5.5,2,4.1,4.1,0,0,1-1.1-.1,11.871,11.871,0,0,0,6.8,2.1c8.2,0,12.7-7.2,12.7-13.4v-.6a9.983,9.983,0,0,0,2.2-2.4A7.714,7.714,0,0,1,413.3,213.4Z"/>
                                  </g>
                            </svg>

                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/flannelsman/">
                           <svg xmlns="http://www.w3.org/2000/svg" width="50.2" height="43" viewBox="0 0 50.2 43">
                              <g id="instagram_1_" transform="translate(-526.2 -198.1)">
                                <rect id="Rectangle_3_" width="35" height="35" transform="translate(531 202.1)" fill="none"/>
                                <g id="Oval_3_">
                                  <circle id="Ellipse_432" data-name="Ellipse 432" cx="17.5" cy="17.5" r="17.5" transform="translate(531 202.1)" fill="none"/>
                                  <circle id="Ellipse_433" data-name="Ellipse 433" cx="20" cy="20" r="20" transform="translate(527.7 199.6)" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/>
                                </g>
                                <path id="Shape_3_" d="M547.7,230.2a43.88,43.88,0,0,1-4.4-.1,7.984,7.984,0,0,1-2.6-.5,7.608,7.608,0,0,1-1.9-1.2,4.738,4.738,0,0,1-1.2-1.9,7.512,7.512,0,0,1-.5-2.6,41.576,41.576,0,0,1-.1-4.4,42.729,42.729,0,0,1,.1-4.4,7.985,7.985,0,0,1,.5-2.6,7.607,7.607,0,0,1,1.2-1.9,4.738,4.738,0,0,1,1.9-1.2,7.511,7.511,0,0,1,2.6-.5,41.563,41.563,0,0,1,4.4-.1,43.88,43.88,0,0,1,4.4.1,7.511,7.511,0,0,1,2.6.5,7.608,7.608,0,0,1,1.9,1.2,4.738,4.738,0,0,1,1.2,1.9,7.512,7.512,0,0,1,.5,2.6,41.576,41.576,0,0,1,.1,4.4,43.892,43.892,0,0,1-.1,4.4,7.985,7.985,0,0,1-.5,2.6,5.554,5.554,0,0,1-3.1,3.1,7.511,7.511,0,0,1-2.6.5A42.725,42.725,0,0,1,547.7,230.2Zm0-16a5.4,5.4,0,1,0,5.4,5.4h0A5.316,5.316,0,0,0,547.7,214.2Zm5.6-1.6a1.3,1.3,0,1,0,1.3,1.3A1.324,1.324,0,0,0,553.3,212.6Zm-5.6,10.5a3.5,3.5,0,1,1,3.5-3.5A3.417,3.417,0,0,1,547.7,223.1Z"/>
                                <g id="Group_398" data-name="Group 398">
                                  <path id="Path_427" data-name="Path 427" d="M568.4,231.9h1.5l2.5,3.9,2.5-3.9h1.5v8.2H575v-5.9l-2.6,3.9h0l-2.6-3.9v5.9h-1.4Z"/>
                                </g>
                              </g>
                            </svg>

                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/flannelsman/">
                           <svg xmlns="http://www.w3.org/2000/svg" width="54.3" height="42.2" viewBox="0 0 54.3 42.2">
                              <g id="instagram_3_" transform="translate(-266.6 -198.8)">
                                <rect id="Rectangle_4_" width="35" height="35" transform="translate(271.1 202.3)" fill="none"/>
                                <g id="Oval_4_">
                                  <circle id="Ellipse_438" data-name="Ellipse 438" cx="17.5" cy="17.5" r="17.5" transform="translate(271.1 202.3)" fill="none"/>
                                  <circle id="Ellipse_439" data-name="Ellipse 439" cx="20" cy="20" r="20" transform="translate(267.6 199.8)" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="2"/>
                                </g>
                                <path id="Shape_4_" d="M287.6,230.4a43.879,43.879,0,0,1-4.4-.1,7.985,7.985,0,0,1-2.6-.5,7.607,7.607,0,0,1-1.9-1.2,4.738,4.738,0,0,1-1.2-1.9,7.512,7.512,0,0,1-.5-2.6,41.563,41.563,0,0,1-.1-4.4,42.716,42.716,0,0,1,.1-4.4,7.985,7.985,0,0,1,.5-2.6,7.607,7.607,0,0,1,1.2-1.9,4.738,4.738,0,0,1,1.9-1.2,7.511,7.511,0,0,1,2.6-.5,41.563,41.563,0,0,1,4.4-.1,43.879,43.879,0,0,1,4.4.1,7.512,7.512,0,0,1,2.6.5,7.607,7.607,0,0,1,1.9,1.2,4.738,4.738,0,0,1,1.2,1.9,7.512,7.512,0,0,1,.5,2.6,41.563,41.563,0,0,1,.1,4.4,43.879,43.879,0,0,1-.1,4.4,7.985,7.985,0,0,1-.5,2.6,5.554,5.554,0,0,1-3.1,3.1,7.511,7.511,0,0,1-2.6.5A43.886,43.886,0,0,1,287.6,230.4Zm0-16a5.4,5.4,0,1,0,5.4,5.4h0A5.442,5.442,0,0,0,287.6,214.4Zm5.6-1.5a1.3,1.3,0,1,0,1.3,1.3A1.324,1.324,0,0,0,293.2,212.9Zm-5.6,10.5a3.5,3.5,0,1,1,3.5-3.5A3.478,3.478,0,0,1,287.6,223.4Z"/>
                                <g id="Group_399" data-name="Group 399">
                                  <path id="Path_428" data-name="Path 428" d="M308.6,232.7h1.6l2,6.1,2-6.1h1.2l2,6.1,2-6.1h1.5L318,241h-1.3l-2-5.9-2,5.9h-1.2Z"/>
                                </g>
                              </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom-copy-right">
                <p>© 2021 Cruise Fashion Limited</p>
            </div>
        </div>
    </div>
</footer>
{% endif %}
<script type="text/javascript">
    // Contact us button display
    var contactli = true;
    if(contactli){
      jQuery(".sidebar-category-list.contact-li").addClass("active");
    }
        
    // Get URL Param value
    function getParameterByUrl(name) {
      var urlpath = window.location.href;
      var results = urlpath.substring(urlpath.lastIndexOf("#") + 1);
      return results;
    }
    var current_value = getParameterByUrl();
    
    window.mobileOrTabletCheck = function() {
      let check = false;
      (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
      return check;
    };
    var isMobileOrTablet = mobileOrTabletCheck(); 
    if(!isMobileOrTablet){
        jQuery(".call-us-btn").click(function(){
            var telval = jQuery(this).attr("href");
            var results = telval.substring(telval.lastIndexOf(":") + 1);
            jQuery(this).hide();
            jQuery(this).closest(".conact-us-boxes").append("<h3>"+results+"</h3>");
        return false;
        });
    }
    // Link update 
    jQuery(".sidebar-category-list > a, .folder-button").addClass("ignore-a");
    jQuery('.start-chat-btn, .accordion-header > a').removeAttr("href");
    jQuery(document).ready(function() {    
        // Hide voting
        jQuery(".accordion-header").each(function(){
            if(!jQuery(this).find(".default_voting > #voting-container").length){
                jQuery(this).find(".voting-section").remove();
            }
            jQuery(this).find(".default_voting").remove(); 
        });
        // Sidebar accordion
        jQuery('.sidebar-solution-list > li.sidebar-category-list:not(.contact-li) > a').click(function() {
            if (jQuery(this).parent().find('.sidebar-folder-list').is(':visible')) {
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-folder-list').slideUp();
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-category-list').removeClass('open');
            } else {
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-folder-list').slideUp();
                jQuery(this).parent().find('.sidebar-folder-list').slideDown();
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-category-list').removeClass('open');
                jQuery(this).parent().addClass('open');        
            }
            return false;
        });
    
        // Accordion open
        jQuery('li.sidebar-category-list:not(.contact-li) .folder-button').click(function() {
           
            jQuery(".conact-folder-view").hide();
            if(jQuery(this).closest(".sidebar-wrap").hasClass("desktop-content")){
                if(jQuery(this).hasClass("selected")){
                    jQuery(this).removeClass("selected");
                    jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").slideUp();   
                }
                else{
                    var curval = jQuery(this).attr("href");
                    jQuery('.folder-button').removeClass("selected");
                    jQuery(this).addClass("selected");
                    jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").slideUp();
                    jQuery(curval).addClass("active").find(".accordion-container").slideDown();
                }
            }
            else{
                if(jQuery(this).hasClass("selected")){
                }
                else{
                    var curval = jQuery(this).attr("href");
                    jQuery('.folder-button').removeClass("selected");
                    jQuery(this).addClass("selected");
                    jQuery(".sidebar-folder-list").removeClass("active");
                    jQuery(curval).addClass("active").find(".accordion-container").show();
                }            
            }         
            return false;   
        });
        // Contact button
        jQuery('.main-sidebar ~ .page-main li.contact-li a, .main-sidebar li.contact-li a').click(function() {
            if(jQuery(this).closest(".sidebar-wrap").hasClass("desktop-content")){
                jQuery(this).parent().toggleClass('open');
                jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").slideUp();
                jQuery(".conact-folder-view").slideToggle();
            }
            else{
                 jQuery('.folder-button').removeClass("selected");
                jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").hide();
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-folder-list').hide();
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-category-list').removeClass('open');
                jQuery(this).parent().addClass('open');
                jQuery(".conact-folder-view").show();
            }
            return false;
        });
        // Article accordion
        jQuery(".accordion-header > a:not(.inactive)").on("click", function() {
            if (jQuery(this).hasClass("active")) {            
                jQuery(this).removeClass("active");
                jQuery(this).closest(".accordion-container").find(".accordion-content").slideUp(200);
                jQuery(this).closest(".accordion-container").find(".accordion-header").removeClass('bg-active');
                jQuery(this).closest(".accordion-container").find(".accordion-header > a i").removeClass("fa-minus").addClass("fa-plus");                
            } else {             
                jQuery(this).closest(".accordion-container").find(".accordion-header > a i").removeClass("fa-minus").addClass("fa-plus");
                jQuery(this).find("i").removeClass("fa-plus").addClass("fa-minus");
                jQuery(this).closest(".accordion-container").find(".accordion-header > a").removeClass("active");
                jQuery(this).closest(".accordion-container").find(".accordion-header").removeClass('bg-active');
                jQuery(this).addClass("active");
                jQuery(this).parent().addClass('bg-active');
                jQuery(this).closest(".accordion-container").find(".accordion-content").slideUp(200);
                jQuery(this).siblings(".accordion-content").slideDown(200);
            }  
            return false;
        });
        jQuery("#support-search-input").attr("data-max-matches","5");
    
        // Menu click
        jQuery(".menu-icon").on("click", function() {
            jQuery(this).toggleClass("active")
            jQuery(".mobile-menu").toggleClass("active");        
        });
      
        jQuery(document).on("click",".voting-section .form-actions a",function() {
          jQuery(".vote-feedback").hide();
          jQuery(this).closest(".voting-section").find(".feedback-again").show();
        });
        
        jQuery(document).on("click",".vote-feedback form input[type='submit']",function() {
            
            if(jQuery(this).closest("form").valid()){
                jQuery(this).closest(".vote-feedback").html("Thanks for the feedback. We will improve this article.");
            }
          
        });
    
        jQuery(".accordion-container .accordion-headertest").each(function(index){
             var domid = jQuery(this).find(".accordion-content .vote-down").attr("data-show-dom");
             var domupdate = jQuery(this).find(".accordion-content .vote-down").attr("data-update");
             jQuery(this).find(".accordion-content .vote-down").attr("data-update",domupdate+"_"+index);
             jQuery(this).find(".accordion-content #vote-feedback-form").attr("id",domupdate+"_"+index);
             jQuery(this).find(".accordion-content .vote-down").attr("data-show-dom",domid+"_"+index);
             jQuery(this).find(".accordion-content .vote-feedback").attr("id",domid+"_"+index);
        });
    
        // Based on  Param value will show the articles
        if(current_value){
            if(jQuery(window).width()>767){
                if(jQuery(".main-sidebar a[data-id='"+current_value+"']").closest(".sidebar-category-list").hasClass("contact-li")){
                    jQuery(".main-sidebar a[data-id='"+current_value+"']").trigger("click");
                }
                else if(jQuery(".main-sidebar a[data-id='"+current_value+"']").closest(".sidebar-category-list").find(">a").length>0){
                    jQuery(".main-sidebar a[data-id='"+current_value+"']").closest(".sidebar-category-list:not(.open)").find(">a").trigger("click");
                    jQuery(".main-sidebar a[data-id='"+current_value+"']").trigger("click");
                }
            }
            else{
                if(jQuery(".desktop-content a[data-id='"+current_value+"']").closest(".sidebar-category-list").hasClass("contact-li")){
                    jQuery(".desktop-content a[data-id='"+current_value+"']").trigger("click");
                }
                else if(jQuery(".desktop-content a[data-id='"+current_value+"']").closest(".sidebar-category-list:not(.open)").find(">a").length>0){
                    jQuery(".desktop-content a[data-id='"+current_value+"']").closest(".sidebar-category-list").find(">a").trigger("click");
                    jQuery(".desktop-content a[data-id='"+current_value+"']").trigger("click");
                }
                
            }
            jQuery("#hc-search-form").attr("action","/support/search/solutions");
        }
    
    });
 </script>