{% assign currentArticleid = article.id %}
{% assign currentFolderid = article.folder.id %}
{% assign currentCategoryid = article.category.id %}
{% assign imagePrefixUrl = "https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect@latest" %}
<section class="content rounded-6 fc-portal-solution-home" id="folder-show-{{folder.id}}">
    <div class="solution-list-section">
        <div class="page-wrap single-page">
            <div class="sidebar-wrap">
                <ul class="sidebar-solution-list">
                    {% for category in portal.solution_categories %}
                    {% if category.folders_count > 0 %}
                    <li class="sidebar-category-list {% if category.id == currentCategoryid %}open{% endif %}">
                        <a href="javascript:"><span class="category-icon">
                          	<img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}.svg" class="normal-cate-icon">
                            <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}-active.svg" class="active-cate-icon"></span>{{category.name}}
                        </a>
                        {% for folder in category.folders %}
                        {% if folder.articles_count > 0 %}
                        <ul class="sidebar-folder-list" data-count="{{folder.articles_count}}" {% if category.id == currentCategoryid %}style="display: block;"{% endif %}>
                          <li><a class="folder-button {% if folder.id == currentFolderid %}selected{% endif %}" href="/support/home#folder_{{folder.id}}">{{folder.name}}</a></li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="sidebar-category-list contact-li">
                        <a href="/support/home#contact" data-id="contact"><span class="category-icon">
                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon.svg" class="normal-cate-icon">
                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon-active.svg" class="active-cate-icon"></span>Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-main">

                <div class="main-accordion-content">
                    {% for category in portal.solution_categories %}
                        <div class="sidebar-wrap desktop-content">
                            <ul class="sidebar-solution-list">
                            {% if category.folders_count > 0 %}
                                <li class="sidebar-category-list {% if category.id == currentCategoryid %}open{% endif %}" id="category_{{category.id}}">
                                    <a href="#"><span class="category-icon">
                                    <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}.svg" class="normal-cate-icon">
                                    <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}-active.svg" class="active-cate-icon"></span>{{category.name}}
                                </a>
                                    {% for folder in category.folders %}
                                        {% if folder.articles_count > 0 %}                                    
                                            <ul class="sidebar-folder-list {% if folder.id == currentFolderid %}active{% endif %}" data-count="{{folder.articles_count}}" id="folder_{{folder.id}}">
                                                <li>
                                                    <a data-id="folder_{{folder.id}}" class="folder-button {% if folder.id == currentFolderid %}selected{% endif %}" href="/support/home#folder_{{folder.id}}">{{folder.name}}</a>
                                                    <div class="folder-title">{{folder.name}}</div>
                                                    <div class="accordion-container {% if folder.id == currentFolderid %}active{% endif %}">
                                                        {% for article in folder.articles %}
                                                        {% if article.id == currentArticleid %}
                                                            <div class="accordion-header bg-active">
                                                                <a class="inactive">
                                                                    {{article.title}}
                                                                    <i class="fa fa-minus"></i>
                                                                </a>
                                                                <div class="accordion-content" style="display: block;">
                                                                    {{article.body}}
                                                                    {{article | article_voting }}                                            
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endif %}
                            </ul>                        
                        </div>
                    {% endfor %}
                </div>
                <div class="conact-us-box-wrap">
                    <div class="sidebar-wrap desktop-content">
                        <ul class="sidebar-solution-list">
                            <li class="sidebar-category-list contact-li">
                                <a class="folder-button" data-id="contact" href="/support/home#contact">
                                    <span class="category-icon">
                                        <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon.svg" class="normal-cate-icon">
                                        <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon-active.svg" class="active-cate-icon">
                                    </span>
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 