{% assign imagePrefixUrl = "https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect" %}
{% if portal.current_page != 'csat_survey' %}
<header class="banner">
    <span class="menu-icon"><span></span><span></span><span></span></span>
    <div class="header-wrap page">
        <div class="d-flex align-center justify-space-between">
            <div class="back-to-site-link">
                <a href="https://www.vanmildert.com/">Back to site</a>
            </div>
            <div class="brand-logo">
                {{ portal | logo }}
            </div>
            <div class="submit-text-wrap">
                <a href="https://www.vanmildert.com/customerservices/contactus/contactform" class="btn btn-primary">Submit ticket</a>
            </div>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="back-to-site-link">
            <a href="https://www.vanmildert.com/">Back to site</a>
        </div>
        <div class="submit-text-wrap">
            <a href="https://www.vanmildert.com/customerservices/contactus/contactform" class="btn btn-primary">Submit ticket</a>
        </div>
    </div>
</header>
<section class="banner-section" style="background-image: url({{imagePrefixUrl}}/{{portal.name | replace: " &", "" | replace: " ", "-" | downcase }}/home-banner.svg);">
    <div class="banner-section-wrap">
        <h1>FAQs</h1>
    </div>
</section>
<!-- Search and page links for the page -->
{% if portal.current_tab and portal.current_tab != "home" %}
{% endif %}
{% else %}
<header class="banner">
    <div class="banner-wrapper">
        <div class="banner-title">
            {{ portal | logo : true }}
            <h1 class="ellipsis heading">{{portal.name|h}}</h1>
        </div>
    </div>
</header>
{% endif %}