<section class="content main rounded-6 fc-new-ticket">
    <h3 class="heading">{% translate ticket.submit_ticket_title %}</h3>
    {% snippet new_ticket_form %}
</section>
<section class="sidebar content-light rounded-6 hide ticket-search" id="new-ticket-search">
    <br />
</section>
<script>
// Hide subject field based on the type value as Others
jQuery("#helpdesk_ticket_subject").removeClass('required').closest('.control-group').hide();
jQuery('#helpdesk_ticket_ticket_type').live('change', function() {
    if (jQuery(this).val() == "Others") {
        jQuery("#helpdesk_ticket_subject").closest('.control-group').show();
        if (jQuery("#helpdesk_ticket_subject").attr('aria-required') != undefined) {
            jQuery("#helpdesk_ticket_subject").addClass('required')
        }
    } else {
        jQuery("#helpdesk_ticket_subject").removeClass('required').closest('.control-group').hide();
    }
});
</script>