{% assign chatlinkStatus = true %}
{% assign emaillinkStatus = true %}
{% assign whatsapplinkStatus = true %}
{% assign facebooklinkStatus = true %}
{% assign twitterlinkStatus = true %}
{% assign phonelinkStatus = true %}

{% assign chatlink = "#" %}
{% assign emaillink = "https://www.jackwills.com/customerservices/contactus/contactform" %}
{% assign whatsapplink = "whatsapplink" %}
{% assign facebooklink = "https://www.facebook.com/jackwills/" %}
{% assign twitterlink = "https://twitter.com/jackwills" %}
{% assign phonelink = "phonelink" %}

{% assign imagePrefixUrl = "https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect" %}

{% if portal.has_solutions %}
<section class="content rounded-6 min-height-on-desktop fc-portal-solution-home" id="solutions-index-home">
    <div class="solution-list-section">
        <div class="page-wrap">
            <div class="sidebar-wrap main-sidebar">
                <ul class="sidebar-solution-list">
                    {% for category in portal.solution_categories %}
                    {% if category.folders_count > 0 %}
                    <li class="sidebar-category-list {% if category.name == "Delivery & Collection" %}open{% endif %}">
                        <a href="#"><span class="category-icon">
                          	<img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}.svg" class="normal-cate-icon">
                            <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}-active.svg" class="active-cate-icon"></span>{{category.name}}
                        </a>
                        {% for folder in category.folders %}
                        {% if folder.articles_count > 0 %}
                        <ul class="sidebar-folder-list" {% if category.name == "Delivery & Collection" %}style="display: block;"{% endif %} data-count="{{folder.articles_count}}">
                            <li><a data-id="folder_{{folder.id}}" class="folder-button {% if folder.name == "Delivery info" %}selected{% endif %}" href="#folder_{{folder.id}}">{{folder.name}}</a></li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="sidebar-category-list contact-li">
                        <a href="#contact" data-id="contact"><span class="category-icon">
                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon.svg" class="normal-cate-icon">
                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon-active.svg" class="active-cate-icon"></span>Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-main">
                <div class="main-accordion-content">
                    {% for category in portal.solution_categories %}
                        <div class="sidebar-wrap desktop-content">
                            <ul class="sidebar-solution-list">
                            {% if category.folders_count > 0 %}
                                <li class="sidebar-category-list" id="category_{{category.id}}">
                                    <a href="#"><span class="category-icon">
                                    <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}.svg" class="normal-cate-icon">
                                    <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}-active.svg" class="active-cate-icon"></span>{{category.name}}
                                </a>
                                    {% for folder in category.folders %}
                                        {% if folder.articles_count > 0 %}                                    
                                            <ul class="sidebar-folder-list {% if folder.name == "Delivery info" %}active{% endif %}" data-count="{{folder.articles_count}}" id="folder_{{folder.id}}">
                                                <li>
                                                    <a data-id="folder_{{folder.id}}" class="folder-button" href="#folder_{{folder.id}}">{{folder.name}}</a>
                                                    <div class="folder-title">{{folder.name}}</div>
                                                    <div class="accordion-container">
                                                        {% for article in folder.articles %}
                                                        <div class="accordion-header">
                                                            <a>
                                                                {{article.title}}
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                            <div class="accordion-content">
                                                                {{article.body}}
                                                                <!--{{article | article_voting }}-->
                                                                <div class="voting-section">
                                                                    <p class="article-vote" id="voting-container_{{article.id}}" data-user-id="{{portal.user.id}}" data-article-id="{{article.id}}" data-language="en">
                                                                      Did you find it helpful?
                                                                        <span data-href="{{article.thumbs_up_url}}" class="vote-up a-link" id="article_thumbs_up" data-remote="true" data-method="put" data-update="#voting-container_{{article.id}}" data-user-id="{{portal.user.id}}" data-article-id="{{article.id}}" data-language="en" data-update-with-message="Glad we could be helpful. Thanks for the feedback.">
                                                                            Yes</span>
                                                                            <span class="vote-down-container">
                                                                                <span data-href="{{article.thumbs_down_url}}" class="vote-down a-link" id="article_thumbs_down" data-remote="true" data-method="put" data-update="#vote-feedback-form_{{article.id}}" data-user-id="{{portal.user.id}}" data-article-id="{{article.id}}" data-language="en" data-hide-dom="#voting-container_{{article.id}}" data-show-dom="#vote-feedback-container_{{article.id}}">
                                                                                No</span>
                                                                            </span>
                                                                    </p>
                                                                    <a class="hide a-link feedback-again" id="vote-feedback-form-link_{{article.id}}" data-hide-dom="#vote-feedback-form-link_{{article.id}}" data-show-dom="#vote-feedback-container_{{article.id}}">Send feedback</a>
                                                                    <div id="vote-feedback-container_{{article.id}}" class="hide vote-feedback">
                                                                        <div class="lead">Sorry we couldn't be helpful. Help us improve this article with your feedback.</div>
                                                                        <div id="vote-feedback-form_{{article.id}}">
                                                                            <div class="sloading loading-small loading-block"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                         
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endif %}
                            </ul>                        
                        </div>
                    {% endfor %}
                </div>
                <div class="conact-us-box-wrap">
                    <div class="sidebar-wrap desktop-content">
                        <ul class="sidebar-solution-list">
                            <li class="sidebar-category-list contact-li">
                                <a class="folder-button" data-id="contact" href="#">
                                   <span class="category-icon">
                                        <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon.svg" class="normal-cate-icon">
                                        <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon-active.svg" class="active-cate-icon">
                                   </span>
                                    Contact Us
                                  </a>
                            </li>
                        </ul>
                    </div>
                    <div id="contact" class="conact-folder-view">
                        <div class="folder-title">Contact us</div>
                        <div class="conact-us-box-row">
                            <div class="accordion-container">
                                {% if chatlinkStatus %}
                                <div class="accordion-header">
                                    <a>Chat with our Chatbot <i class="fa fa-plus"></i></a>
                                    <div class="accordion-content">
                                            <div class="conact-us-boxes">
                                                <div class="conact-us-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><style>.a{fill:none;}.b,.c,.d{fill-rule:evenodd;}.c{fill:#fefefe;}.d{fill:#fbfbfb;}</style></defs><g transform="translate(-12401 -889)"><rect class="a" width="32" height="32" transform="translate(12401 889)"/><g transform="translate(12301.617 771.444)"><path class="primary-fill-color" d="M130.373,136.73c0,2.323.024,4.645,0,6.967a4.119,4.119,0,0,1-4.46,4.435c-2.209.027-4.419-.017-6.627.014a2.161,2.161,0,0,1-2.451-1.624,2,2,0,0,1,3.624-1.536c.34.483.75.423,1.185.426,1.416.009,2.833-.013,4.248.008,1.2.018,1.776-.529,1.769-1.739-.014-2.719,0-5.438-.007-8.157,0-.48.166-1.03-.7-1.014s-.644.6-.654,1.053c-.023,1.019.028,2.041-.021,3.058a4,4,0,0,1-3.984,4.032q-6.88.106-13.764,0a4.023,4.023,0,0,1-4-4.021c-.022-.4-.011-.793-.008-1.189.012-1.534.543-3.43-2.159-3.059-.142.02-.314-.117-.461-.2-1.754-.99-1.619-2.4-1.374-5.552a2.48,2.48,0,0,1,2.906-2.247c.918.05,1.151-.269,1.106-1.135a6.07,6.07,0,0,1,.459-3.486,4.193,4.193,0,0,1,3.923-2.21c4.192.016,8.383,0,12.575.008,3.247.008,4.817,1.543,4.775,4.78-.017,1.282-.116,2.172,1.731,2.124,1.519-.04,2.353,1.21,2.365,2.785C130.387,131.745,130.372,134.238,130.373,136.73Z" transform="translate(0 0)"/><path class="c" d="M236.4,308.428c-1.127,0-2.259.058-3.381-.014a1.9,1.9,0,0,1-1.965-2.082,1.849,1.849,0,0,1,1.923-1.947q3.464-.1,6.933,0a2.016,2.016,0,0,1,.041,4.028C238.767,308.484,237.579,308.427,236.4,308.428Z" transform="translate(-121.054 -171.186)"/><path class="d" d="M235.118,214.53c-.153,1.222-.787,2.021-2.048,2.02a2.011,2.011,0,0,1-.017-4.021C234.317,212.516,234.954,213.312,235.118,214.53Z" transform="translate(-121.059 -86.134)"/><path class="d" d="M325.5,211.764c1.288.2,2.073.853,2.035,2.115a2.011,2.011,0,0,1-4.022-.1A2,2,0,0,1,325.5,211.764Z" transform="translate(-206.72 -85.425)"/></g></g></svg>
                                                </div>
                                                <h5>Chat with our Chatbot</h5>
                                                <p>Our Chatbot is here to assist you.</p>
                                                <a class="btn btn-outline-secondary start-chat-btn" onclick="Freshbots.showWidget(true);">Start chat</a>
                                           </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if emaillinkStatus %}
                                <div class="accordion-header">
                                    <a>Send us an Email <i class="fa fa-plus"></i></a>
                                     <div class="accordion-content">
                                         <div class="conact-us-boxes">
                                            <div class="conact-us-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><style>.b{fill:none;}</style></defs><g transform="translate(-12882 -940)"><g transform="translate(12883 866)"><g transform="translate(19.886 83.802)"><path class="primary-fill-color" d="M339.392,151.56l10.114,6.394V144.9Z" transform="translate(-339.392 -144.896)"/></g><g transform="translate(0 83.802)"><path class="primary-fill-color" d="M0,144.9v13.057l10.114-6.394Z" transform="translate(0 -144.896)"/></g><g transform="translate(0.056 80)"><g transform="translate(0 0)"><path class="primary-fill-color" d="M29.029,80H2.779A1.852,1.852,0,0,0,.96,81.6L15.9,91.441,30.847,81.6A1.852,1.852,0,0,0,29.029,80Z" transform="translate(-0.96 -80)"/></g></g><g transform="translate(0.06 91.597)"><g transform="translate(0 0)"><path class="primary-fill-color" d="M19.133,277.922l-2.653,1.747a.942.942,0,0,1-1.031,0L12.8,277.92,1.024,285.366a1.849,1.849,0,0,0,1.815,1.582h26.25a1.849,1.849,0,0,0,1.815-1.582Z" transform="translate(-1.024 -277.92)"/></g></g></g><rect class="b" width="32" height="32" transform="translate(12882 940)"/></g></svg>
                                            </div>
                                            <h5>Send us an Email</h5>
                                            <p>We might take a day or two to answer your email.</p>
                                            <a href="{{emaillink}}" class="btn btn-outline-secondary">SEND EMAIL</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if whatsapplinkStatus %}
                                <div class="accordion-header">
                                    <a>Whatsapp <i class="fa fa-plus"></i></a>
                                     <div class="accordion-content">
                                        <div class="conact-us-boxes">
                                            <div class="conact-us-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><style>.b{fill:none;}</style></defs><g transform="translate(-12621 -905)"><g transform="translate(12622 906)"><path class="primary-fill-color" d="M15,0H15A14.991,14.991,0,0,0,2.856,23.792L.986,29.364l5.766-1.843A15,15,0,1,0,15,0Zm8.728,21.182A4.233,4.233,0,0,1,20.788,23.3c-.784.167-1.808.3-5.254-1.129-4.408-1.826-7.247-6.306-7.468-6.6a8.567,8.567,0,0,1-1.781-4.524A4.789,4.789,0,0,1,7.819,7.4a2.179,2.179,0,0,1,1.534-.538c.186,0,.353.009.5.017.441.019.662.045.952.741.362.872,1.243,3.024,1.348,3.246a.893.893,0,0,1,.064.812,2.592,2.592,0,0,1-.486.688c-.221.255-.431.45-.653.724-.2.238-.431.493-.176.934a13.314,13.314,0,0,0,2.434,3.024,11.028,11.028,0,0,0,3.518,2.169.948.948,0,0,0,1.057-.167A18.149,18.149,0,0,0,19.086,17.5a.837.837,0,0,1,1.076-.326c.405.141,2.548,1.2,2.989,1.419s.731.326.838.512A3.736,3.736,0,0,1,23.732,21.182Z"/></g><rect class="b" width="32" height="32" transform="translate(12621 905)"/></g></svg>
                                            </div>
                                            <h5>Whatsapp</h5>
                                            <p>Message us on WhatsApp.</p>
                                            <a href="{{whatsapplink}}" class="btn btn-outline-secondary">WHATSAPP</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if facebooklinkStatus %}
                                <div class="accordion-header">
                                    <a>Facebook <i class="fa fa-plus"></i></a>
                                     <div class="accordion-content">
                                        <div class="conact-us-boxes">
                                            <div class="conact-us-icon">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><style>.b{fill:none;}</style></defs><g transform="translate(-456 -913)"><g transform="translate(457 914)"><path class="primary-fill-color" d="M15,0A15,15,0,1,0,30,15,15,15,0,0,0,15,0Zm5.723,7.639H18.648c-1.627,0-1.941.773-1.941,1.907v2.5h3.88l0,3.918H16.707V26.02H12.66V15.966H9.277V12.048H12.66V9.159c0-3.353,2.049-5.179,5.039-5.179l3.023,0V7.639Z"/></g><rect class="b" width="32" height="32" transform="translate(456 913)"/></g></svg>
                                            </div>
                                            <h5>Facebook</h5>
                                            <p>We answer within 1 hour.</p>
                                            <a href="{{facebooklink}}" class="btn btn-outline-secondary">FACEBOOK</a>
                                        </div>
                                     </div>
                                </div>
                                {% endif %}
                                {% if twitterlinkStatus %}
                                <div class="accordion-header">
                                  <a>Twitter <i class="fa fa-plus"></i></a>
                                     <div class="accordion-content">
                                       <div class="conact-us-boxes">
                                            <div class="conact-us-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><style>.b{fill:none;}</style></defs><g transform="translate(-847 -963)"><path class="primary-fill-color" d="M15,0A15,15,0,1,0,30,15,15,15,0,0,0,15,0Zm6.849,11.7q.01.221.01.445a9.729,9.729,0,0,1-9.8,9.8h0A9.745,9.745,0,0,1,6.785,20.39a7,7,0,0,0,.821.048,6.908,6.908,0,0,0,4.276-1.474,3.447,3.447,0,0,1-3.216-2.391,3.431,3.431,0,0,0,1.555-.059,3.444,3.444,0,0,1-2.762-3.375c0-.016,0-.03,0-.044a3.419,3.419,0,0,0,1.559.431,3.446,3.446,0,0,1-1.066-4.6,9.775,9.775,0,0,0,7.1,3.6,3.445,3.445,0,0,1,5.867-3.14A6.906,6.906,0,0,0,23.1,8.55a3.456,3.456,0,0,1-1.514,1.9,6.867,6.867,0,0,0,1.977-.542A7,7,0,0,1,21.849,11.7Zm0,0" transform="translate(848 964)"/><rect class="b" width="32" height="32" transform="translate(847 963)"/></g></svg>
                                            </div>
                                            <h5>Twitter</h5>
                                            <p>We answer within 1 hour.</p>
                                            <a href="{{twitterlink}}" class="btn btn-outline-secondary">TWITTER</a>
                                        </div>
                                     </div>
                                </div>
                                {% endif %}
                                {% if phonelinkStatus %}
                                <div class="accordion-header">
                                    <a>Phone <i class="fa fa-plus"></i></a>
                                    <div class="accordion-content">
                                        <div class="conact-us-boxes">
                                            <div class="conact-us-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                                <g id="phone" transform="translate(0 0)">
                                                <g id="Group_144" data-name="Group 144" transform="translate(0 0)">
                                                <path id="Path_1099" class="primary-fill-color" data-name="Path 1099" d="M27.312,4.684A16,16,0,1,0,32,16,16,16,0,0,0,27.312,4.684Zm-3.081,17.6,0,0v-.005l-.811.805a4.267,4.267,0,0,1-4.027,1.152A14.177,14.177,0,0,1,15.274,22.4a19.023,19.023,0,0,1-3.248-2.619A19.169,19.169,0,0,1,9.6,16.834a14.932,14.932,0,0,1-1.824-3.691A4.267,4.267,0,0,1,8.842,8.786l.949-.949a.677.677,0,0,1,.958,0l0,0,3,3a.677.677,0,0,1,0,.958l0,0-1.76,1.76a1.435,1.435,0,0,0-.149,1.867,20.583,20.583,0,0,0,2.107,2.459A20.457,20.457,0,0,0,16.72,20.21a1.445,1.445,0,0,0,1.845-.16l1.7-1.728a.677.677,0,0,1,.958,0l0,0,3,3.008A.677.677,0,0,1,24.231,22.287Z" transform="translate(0 0)"/>
                                                </g>
                                                </g>
                                                </svg>
                                            </div>
                                            <h5>Phone</h5>
                                            <p>Monday-Friday 10am-6pm
                                            Saturday-Sunday 9am-6pm</p>
                                            <a href="{{phonelink}}" class="btn btn-outline-secondary call-us-btn">Call us</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                     </div>
                </div>   
            </div>
        </div>
    </div>
</section>  

    {% assign topcount == 0 %}
    {% for category in portal.solution_categories %} {% if category.folders_count > 0 %} {% for folder in category.folders %} {% paginate folder.articles by 100 %} {% for article in paginate.collection %} {% for tag in article.tags %} {% if tag.name == "featured" %}
    {% assign topcount = topcount | plus:1  %}
    {% endif %} {% endfor %} {% endfor %} {% endpaginate %} {% endfor %} {% endif %} {% endfor %}
    {% if topcount %}
        <section class="featured-articles-section">
            <h3>Featured articles</h3>
            <div class="featured-articles-list-row">
                <div class="featured-articles-list">
                    {% assign featuedCount = 1 %}
                    {% for category in portal.solution_categories %} {% if category.folders_count > 0 %} {% for folder in category.folders %} {% paginate folder.articles by 100 %} {% for article in paginate.collection %} {% for tag in article.tags %} {% if tag.name == "featured" %}                            
                        {% if featuedCount < 5 %}
                            {% assign featuedCount = featuedCount | plus:1  %}
                            <div class="featured-articles-media-box">
                                <a href="{{article.url}}">
                                    {% assign articlecount = article.attachments | size %}
                                    {% if articlecount == 0 %}
                                        <div class="featured-articles-img" style="background-image: url(https://via.placeholder.com/200x120.png?text=Featued);">
                                        </div>                                                    
                                    {% else %}
                                        {% for attachment in article.attachments limit:1%}
                                        <div class="featured-articles-img" style="background-image:url(/images/{{attachment.url}})">
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="feature-article-caption">
                                        <p>{{article.title}}</p>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %} {% endfor %} {% endfor %} {% endpaginate %} {% endfor %} {% endif %} {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endif %} 
<!-- has_solutions ends -->