{% assign imagePrefixUrl = "https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect" %}
{% if portal.current_page != 'csat_survey' %}
<section class="footer-banner-section">
    <div class="page">
        <div class="footer-search-warp">
            <div class="search-img">
                <img src="{{imagePrefixUrl}}/{{portal.name | replace: " &", "" | replace: " ", "-" | downcase }}/bottom-banner.png">
            </div>
            <div class="footer-search-box">
                <h3>Can't find what you're looking for?</h3>
                {% snippet search_form %}
                <a class="footer-sumbit-ticket-btn" href="https://help.cruisefashion.com/support/tickets/new"><span>submit a ticket</span></a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <section class="footer-bottom">
        <div class="page">
            <div class="footer-bottom-wrap">
                <div class="footer-bottom-wrap-row">
                    <div class="col-md-3">
                        <h4>SHOPPING ONLINE</h4>
                        <ul class="footer-menu-list">
                            <li>
                                <a href="https://www.cruisefashion.com/stores">Store Finder</a>
                            </li>
                            <li>
                                <a href="https://www.cruisefashion.com//accountinformation/orderhistorysummary">Track Order</a>
                            </li>
                            <li>
                                <a href="https://www.cruisefashion.com/student-discount">Student Discount</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>ABOUT US</h4>
                        <ul class="footer-menu-list">
                            <li>
                                <a href="https://www.cruisefashion.com/customerservices/otherinformation/aboutus">About Cruise</a>
                            </li>
                            <li>
                                <a href="https://www.cruisefashion.com/stores">Stores</a>
                            </li>
                            <li>
                                <a href="https://www.cruisefashion.com/careers">Jobs And Careers</a>
                            </li>
                            <li>
                                <a href="https://help.cruisefashion.com/support/solutions/folders/76000005200">Terms And Conditions</a>
                            </li>
                            <li>
                                <a href="https://www.cruisefashion.com/sitemap">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-social-contact">
                <ul class="footer-social-contact-list">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/cruisefashiononline">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.6" height="24.8" viewBox="0 0 12.6 24.8">
                                <path id="Path_260" data-name="Path 260" d="M51.5,372.4v-11H47.9V357h3.6v-3.4a5.173,5.173,0,0,1,4.6-5.8h1c1.6,0,3,.2,3.4.2v4H58.1c-1.8,0-2.2.8-2.2,2.2v3h4l-.6,4.4H56.1v11" transform="translate(-47.9 -347.8)" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/Cruise_fashion">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25.4" height="20.6" viewBox="0 0 25.4 20.6">
                                <path id="Path_263" data-name="Path 263" d="M171.2,353.3v.6a14.511,14.511,0,0,1-14.4,14.6h-.2a14.422,14.422,0,0,1-8-2.4h1.2a10.334,10.334,0,0,0,6.4-2.2,4.922,4.922,0,0,1-4.8-3.6h1a3.4,3.4,0,0,0,1.4-.2,5.135,5.135,0,0,1-4.2-5h0a5.325,5.325,0,0,0,2.4.6,5.218,5.218,0,0,1-2.2-4.2,4.02,4.02,0,0,1,.8-2.6,14.514,14.514,0,0,0,10.6,5.4c0-.4-.2-.8-.2-1.2a5.164,5.164,0,0,1,5.2-5.2h0a5.464,5.464,0,0,1,3.8,1.6,8.836,8.836,0,0,0,3.2-1.2,5.173,5.173,0,0,1-2.2,2.8,16.666,16.666,0,0,0,3-.8,8.017,8.017,0,0,1-2.8,3Z" transform="translate(-148.6 -347.9)" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/cruise_fashion/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24.027" height="24.171" viewBox="0 0 24.027 24.171">
                                <g id="Group_288" data-name="Group 288" transform="translate(-12762.911 -1989.911)">
                                    <path id="Path_209" data-name="Path 209" d="M33.825,353.952a6.868,6.868,0,0,0-1.939-5.042,7.754,7.754,0,0,0-5.042-1.939,84.132,84.132,0,0,0-9.891,0,6.868,6.868,0,0,0-5.042,1.939,7.754,7.754,0,0,0-1.939,5.042,84.145,84.145,0,0,0,0,9.891,6.868,6.868,0,0,0,1.939,5.042,7.754,7.754,0,0,0,5.042,1.939,84.159,84.159,0,0,0,9.891,0,6.868,6.868,0,0,0,5.042-1.939,7.754,7.754,0,0,0,1.939-5.042Z" transform="translate(12753.1 1643.1)" stroke="#fff" stroke-miterlimit="10" stroke-width="0.027" />
                                    <circle id="Ellipse_312" data-name="Ellipse 312" cx="1.358" cy="1.358" r="1.358" transform="translate(12779.941 1994.143)" fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width="0.027" />
                                    <path id="Path_210" data-name="Path 210" d="M18.448,360.3a4.848,4.848,0,1,1,4.848-4.848,4.8,4.8,0,0,1-4.848,4.848Z" transform="translate(12756.646 1646.646)" stroke="#fff" stroke-miterlimit="10" stroke-width="1" />
                                </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-copy-right">
                <p>&copy; <span>2021</span> Cruise Fashion Limited</p>
            </div>
        </div>
    </section>
</footer>
{% endif %}
<script type="text/javascript">
// Contact us button display
var contactli = true;
if(contactli){
  jQuery(".sidebar-category-list.contact-li").addClass("active");
}
    
// Get URL Param value
function getParameterByUrl(name) {
  var urlpath = window.location.href;
  var results = urlpath.substring(urlpath.lastIndexOf("#") + 1);
  return results;
}
var current_value = getParameterByUrl();
jQuery(document).ready(function() {
    // Sidebar accordion
    jQuery('.sidebar-solution-list > li.sidebar-category-list:not(.contact-li) > a').click(function() {
        if (jQuery(this).parent().find('.sidebar-folder-list').is(':visible')) {
            jQuery(this).closest(".sidebar-solution-list").find('.sidebar-folder-list').slideUp();
            jQuery(this).closest(".sidebar-solution-list").find('.sidebar-category-list').removeClass('open');
        } else {
            jQuery(this).closest(".sidebar-solution-list").find('.sidebar-folder-list').slideUp();
            jQuery(this).parent().find('.sidebar-folder-list').slideDown();
            jQuery(this).closest(".sidebar-solution-list").find('.sidebar-category-list').removeClass('open');
            jQuery(this).parent().addClass('open');        
        }
        return false;
    });

    // Accordion open
    jQuery('li.sidebar-category-list:not(.contact-li) .folder-button').click(function() {
       
        jQuery(".conact-folder-view").hide();
        if(jQuery(this).closest(".sidebar-wrap").hasClass("desktop-content")){
            if(jQuery(this).hasClass("selected")){
                jQuery(this).removeClass("selected");
                jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").slideUp();   
            }
            else{
                var curval = jQuery(this).attr("href");
                jQuery('.folder-button').removeClass("selected");
                jQuery(this).addClass("selected");
                jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").slideUp();
                jQuery(curval).addClass("active").find(".accordion-container").slideDown();
            }
        }
        else{
            if(jQuery(this).hasClass("selected")){
            }
            else{
                var curval = jQuery(this).attr("href");
                jQuery('.folder-button').removeClass("selected");
                jQuery(this).addClass("selected");
                jQuery(".sidebar-folder-list").removeClass("active");
                jQuery(curval).addClass("active").find(".accordion-container").show();
            }            
        }         
        return false;   
    });
    // Contact button
    jQuery('li.contact-li a').click(function() {
        if(jQuery(this).closest(".sidebar-wrap").hasClass("desktop-content")){
            jQuery(this).parent().toggleClass('open');
            jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").slideUp();
            jQuery(".conact-folder-view").slideToggle();
        }
        else{
             jQuery('.folder-button').removeClass("selected");
            jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").hide();
            jQuery(this).closest(".sidebar-solution-list").find('.sidebar-folder-list').hide();
            jQuery(this).closest(".sidebar-solution-list").find('.sidebar-category-list').removeClass('open');
            jQuery(this).parent().addClass('open');
            jQuery(".conact-folder-view").show();
        }
        return false;
    });
    // Article accordion
    jQuery(".accordion-header > a:not(.inactive)").on("click", function() {
        if (jQuery(this).hasClass("active")) {            
            jQuery(this).removeClass("active");
            jQuery(this).closest(".accordion-container").find(".accordion-content").slideUp(200);
            jQuery(this).closest(".accordion-container").find(".accordion-header").removeClass('bg-active');
            jQuery(this).closest(".accordion-container").find(".accordion-header > a i").removeClass("fa-minus").addClass("fa-plus");                
        } else {             
            jQuery(this).closest(".accordion-container").find(".accordion-header > a i").removeClass("fa-minus").addClass("fa-plus");
            jQuery(this).find("i").removeClass("fa-plus").addClass("fa-minus");
            jQuery(this).closest(".accordion-container").find(".accordion-header > a").removeClass("active");
            jQuery(this).closest(".accordion-container").find(".accordion-header").removeClass('bg-active');
            jQuery(this).addClass("active");
            jQuery(this).parent().addClass('bg-active');
            jQuery(this).closest(".accordion-container").find(".accordion-content").slideUp(200);
            jQuery(this).siblings(".accordion-content").slideDown(200);
        }  
    });
    jQuery("#support-search-input").attr("data-max-matches","5");

    // Menu click
    jQuery(".menu-icon").on("click", function() {
        jQuery(this).toggleClass("active")
        jQuery(".mobile-menu").toggleClass("active");        
    });
  
    jQuery(document).on("click",".voting-section .form-actions a",function() {
      jQuery(".vote-feedback").hide();
      jQuery(this).closest(".voting-section").find(".feedback-again").show();
    });
    
    jQuery(document).on("click",".vote-feedback form input[type='submit']",function() {
        
        if(jQuery(this).closest("form").valid()){
            jQuery(this).closest(".vote-feedback").html("Thanks for the feedback. We will improve this article.");
        }
      
    });

    jQuery(".accordion-container .accordion-headertest").each(function(index){
         var domid = jQuery(this).find(".accordion-content .vote-down").attr("data-show-dom");
         var domupdate = jQuery(this).find(".accordion-content .vote-down").attr("data-update");
         jQuery(this).find(".accordion-content .vote-down").attr("data-update",domupdate+"_"+index);
         jQuery(this).find(".accordion-content #vote-feedback-form").attr("id",domupdate+"_"+index);
         jQuery(this).find(".accordion-content .vote-down").attr("data-show-dom",domid+"_"+index);
         jQuery(this).find(".accordion-content .vote-feedback").attr("id",domid+"_"+index);
    });

    // Based on  Param value will show the articles
    if(current_value){
        if(jQuery(window).width()>767){
            if(jQuery(".main-sidebar a[data-id='"+current_value+"']").closest(".sidebar-category-list").hasClass("contact-li")){
                jQuery(".main-sidebar a[data-id='"+current_value+"']").trigger("click");
            }
            else if(jQuery(".main-sidebar a[data-id='"+current_value+"']").closest(".sidebar-category-list").find(">a").length>0){
                jQuery(".main-sidebar a[data-id='"+current_value+"']").closest(".sidebar-category-list:not(.open)").find(">a").trigger("click");
                jQuery(".main-sidebar a[data-id='"+current_value+"']").trigger("click");
            }
        }
        else{
            if(jQuery(".desktop-content a[data-id='"+current_value+"']").closest(".sidebar-category-list").hasClass("contact-li")){
                jQuery(".desktop-content a[data-id='"+current_value+"']").trigger("click");
            }
            else if(jQuery(".desktop-content a[data-id='"+current_value+"']").closest(".sidebar-category-list:not(.open)").find(">a").length>0){
                jQuery(".desktop-content a[data-id='"+current_value+"']").closest(".sidebar-category-list").find(">a").trigger("click");
                jQuery(".desktop-content a[data-id='"+current_value+"']").trigger("click");
            }
            
        }
        jQuery("#hc-search-form").attr("action","/support/search/solutions");
    }

});
</script>