{% assign imagePrefixUrl = "https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect" %}
{% if portal.current_page != 'csat_survey' %}
<section class="footer-banner-section">
    <div class="page">
        <div class="footer-search-warp">
            <div class="search-img">
                <img src="{{imagePrefixUrl}}/{{portal.name | replace: " &", "" | replace: " ", "-" | downcase }}/bottom-banner.png">
            </div>
            <div class="footer-search-box">
                <h3>Can't find what you're looking for?</h3>
                {% snippet search_form %}
                <a class="footer-sumbit-ticket-btn" href="https://www.karrimor.com/customerservices/contactus/contactform"><span>submit a ticket</span></a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <section class="footer-bottom">
        <div class="page">
            <div class="footer-bottom-wrap">
                <div class="footer-bottom-wrap-row">
                    <div class="col-md-3">
                        <h4>About Karrimor</h4>
                        <ul class="footer-menu-list">
                            <li><a href="https://www.karrimor.com/CustomerServices/OtherInformation/AboutUs">about us</a></li>
                            <li><a href="https://www.karrimor.com/stores">stockists</a></li>
                            <li><a href="https://www.karrimor.com/blog">blog</a></li>
                            <li><a href="https://www.karrimor.com/pages/team/JamesCracknell">team</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Popular Links</h4>
                        <ul class="footer-menu-list">
                            <li><a href="https://www.karrimor.com/running">running</a></li>
                            <li><a href="https://www.karrimor.com/outdoors">outdoors</a></li>
                            <li><a href="https://www.karrimor.com/searchnoresults?descriptionfilter=&issearch=0">K100</a></li>
                            <li><a href="https://www.karrimor.com/camping/view-all-camping">camping</a></li>
                            <li><a href="https://www.karrimor.com/expedition">expedition</a></li>
                            <li><a href="https://www.karrimor.com/rucksacks/view-all-rucksacks">rucksacks</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Shopping</h4>
                        <ul class="footer-menu-list">
                            <li><a href="https://www.karrimor.com/AccountInformation">my account</a></li>
                            <li><a href="https://www.karrimor.com/CustomerServices/Delivery">delivery</a></li>
                            <li><a href="https://www.karrimor.com/CustomerServices/OtherInformation/SizeGuide">size guide</a></li>
                            <li><a href="https://www.karrimor.com/CustomerServices/PlacingOrders/PaymentOptions">ways to pay</a></li>
                            <li><a href="https://www.karrimor.com/QuickOrder">quick order</a></li>
                            <li><a href="https://www.karrimor.com/AccountInformation/OrderHistorySummary">order tracking</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Help</h4>
                        <ul class="footer-menu-list">
                            <li><a href="https://www.karrimor.com/CustomerServices/OtherInformation/SecurityandPrivacy">security/privacy</a></li>
                            <li><a href="https://www.karrimor.com/CustomerServices/OtherInformation/TermsandConditions">tncs</a></li>
                            <li><a href="https://www.karrimor.com/CustomerServices/ContactUs">contact us</a></li>
                            <li><a href="https://www.karrimor.com/sitemap">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copy-right">
                <p>&copy; <span>2021</span> SportsDirect.com Retail Ltd.</p>
            </div>
        </div>
    </section>
</footer>
{% endif %}
<script type="text/javascript">
    // Contact us button display
    var contactli = true;
    if(contactli){
      jQuery(".sidebar-category-list.contact-li").addClass("active");
    }
        
    // Get URL Param value
    function getParameterByUrl(name) {
      var urlpath = window.location.href;
      var results = urlpath.substring(urlpath.lastIndexOf("#") + 1);
      return results;
    }
    var current_value = getParameterByUrl();
    
    window.mobileOrTabletCheck = function() {
      let check = false;
      (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
      return check;
    };
    var isMobileOrTablet = mobileOrTabletCheck(); 
    if(!isMobileOrTablet){
        jQuery(".call-us-btn").click(function(){
            var telval = jQuery(this).attr("href");
            var results = telval.substring(telval.lastIndexOf(":") + 1);
            jQuery(this).hide();
            jQuery(this).closest(".conact-us-boxes").append("<h3>"+results+"</h3>");
        return false;
        });
    }
    // Link update 
    jQuery(".sidebar-category-list > a, .folder-button").addClass("ignore-a");
    jQuery('.start-chat-btn, .accordion-header > a').removeAttr("href");
    jQuery(document).ready(function() {    
        // Hide voting
        jQuery(".accordion-header").each(function(){
            if(!jQuery(this).find(".default_voting > #voting-container").length){
                jQuery(this).find(".voting-section").remove();
            }
            jQuery(this).find(".default_voting").remove(); 
        });
        // Sidebar accordion
        jQuery('.sidebar-solution-list > li.sidebar-category-list:not(.contact-li) > a').click(function() {
            if (jQuery(this).parent().find('.sidebar-folder-list').is(':visible')) {
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-folder-list').slideUp();
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-category-list').removeClass('open');
            } else {
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-folder-list').slideUp();
                jQuery(this).parent().find('.sidebar-folder-list').slideDown();
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-category-list').removeClass('open');
                jQuery(this).parent().addClass('open');        
            }
            return false;
        });
    
        // Accordion open
        jQuery('li.sidebar-category-list:not(.contact-li) .folder-button').click(function() {
           
            jQuery(".conact-folder-view").hide();
            if(jQuery(this).closest(".sidebar-wrap").hasClass("desktop-content")){
                if(jQuery(this).hasClass("selected")){
                    jQuery(this).removeClass("selected");
                    jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").slideUp();   
                }
                else{
                    var curval = jQuery(this).attr("href");
                    jQuery('.folder-button').removeClass("selected");
                    jQuery(this).addClass("selected");
                    jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").slideUp();
                    jQuery(curval).addClass("active").find(".accordion-container").slideDown();
                }
            }
            else{
                if(jQuery(this).hasClass("selected")){
                }
                else{
                    var curval = jQuery(this).attr("href");
                    jQuery('.folder-button').removeClass("selected");
                    jQuery(this).addClass("selected");
                    jQuery(".sidebar-folder-list").removeClass("active");
                    jQuery(curval).addClass("active").find(".accordion-container").show();
                }            
            }         
            return false;   
        });
        // Contact button
        jQuery('.main-sidebar ~ .page-main li.contact-li a, .main-sidebar li.contact-li a').click(function() {
            if(jQuery(this).closest(".sidebar-wrap").hasClass("desktop-content")){
                jQuery(this).parent().toggleClass('open');
                jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").slideUp();
                jQuery(".conact-folder-view").slideToggle();
            }
            else{
                 jQuery('.folder-button').removeClass("selected");
                jQuery(".sidebar-folder-list").removeClass("active").find(".accordion-container").hide();
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-folder-list').hide();
                jQuery(this).closest(".sidebar-solution-list").find('.sidebar-category-list').removeClass('open');
                jQuery(this).parent().addClass('open');
                jQuery(".conact-folder-view").show();
            }
            return false;
        });
        // Article accordion
        jQuery(".accordion-header > a:not(.inactive)").on("click", function() {
            if (jQuery(this).hasClass("active")) {            
                jQuery(this).removeClass("active");
                jQuery(this).closest(".accordion-container").find(".accordion-content").slideUp(200);
                jQuery(this).closest(".accordion-container").find(".accordion-header").removeClass('bg-active');
                jQuery(this).closest(".accordion-container").find(".accordion-header > a i").removeClass("fa-minus").addClass("fa-plus");                
            } else {             
                jQuery(this).closest(".accordion-container").find(".accordion-header > a i").removeClass("fa-minus").addClass("fa-plus");
                jQuery(this).find("i").removeClass("fa-plus").addClass("fa-minus");
                jQuery(this).closest(".accordion-container").find(".accordion-header > a").removeClass("active");
                jQuery(this).closest(".accordion-container").find(".accordion-header").removeClass('bg-active');
                jQuery(this).addClass("active");
                jQuery(this).parent().addClass('bg-active');
                jQuery(this).closest(".accordion-container").find(".accordion-content").slideUp(200);
                jQuery(this).siblings(".accordion-content").slideDown(200);
            }  
            return false;
        });
        jQuery("#support-search-input").attr("data-max-matches","5");
    
        // Menu click
        jQuery(".menu-icon").on("click", function() {
            jQuery(this).toggleClass("active")
            jQuery(".mobile-menu").toggleClass("active");        
        });
      
        jQuery(document).on("click",".voting-section .form-actions a",function() {
          jQuery(".vote-feedback").hide();
          jQuery(this).closest(".voting-section").find(".feedback-again").show();
        });
        
        jQuery(document).on("click",".vote-feedback form input[type='submit']",function() {
            
            if(jQuery(this).closest("form").valid()){
                jQuery(this).closest(".vote-feedback").html("Thanks for the feedback. We will improve this article.");
            }
          
        });
    
        jQuery(".accordion-container .accordion-headertest").each(function(index){
             var domid = jQuery(this).find(".accordion-content .vote-down").attr("data-show-dom");
             var domupdate = jQuery(this).find(".accordion-content .vote-down").attr("data-update");
             jQuery(this).find(".accordion-content .vote-down").attr("data-update",domupdate+"_"+index);
             jQuery(this).find(".accordion-content #vote-feedback-form").attr("id",domupdate+"_"+index);
             jQuery(this).find(".accordion-content .vote-down").attr("data-show-dom",domid+"_"+index);
             jQuery(this).find(".accordion-content .vote-feedback").attr("id",domid+"_"+index);
        });
    
        // Based on  Param value will show the articles
        if(current_value){
            if(jQuery(window).width()>767){
                if(jQuery(".main-sidebar a[data-id='"+current_value+"']").closest(".sidebar-category-list").hasClass("contact-li")){
                    jQuery(".main-sidebar a[data-id='"+current_value+"']").trigger("click");
                }
                else if(jQuery(".main-sidebar a[data-id='"+current_value+"']").closest(".sidebar-category-list").find(">a").length>0){
                    jQuery(".main-sidebar a[data-id='"+current_value+"']").closest(".sidebar-category-list:not(.open)").find(">a").trigger("click");
                    jQuery(".main-sidebar a[data-id='"+current_value+"']").trigger("click");
                }
            }
            else{
                if(jQuery(".desktop-content a[data-id='"+current_value+"']").closest(".sidebar-category-list").hasClass("contact-li")){
                    jQuery(".desktop-content a[data-id='"+current_value+"']").trigger("click");
                }
                else if(jQuery(".desktop-content a[data-id='"+current_value+"']").closest(".sidebar-category-list:not(.open)").find(">a").length>0){
                    jQuery(".desktop-content a[data-id='"+current_value+"']").closest(".sidebar-category-list").find(">a").trigger("click");
                    jQuery(".desktop-content a[data-id='"+current_value+"']").trigger("click");
                }
                
            }
            jQuery("#hc-search-form").attr("action","/support/search/solutions");
        }
    
    });
</script>