{% assign imagePrefixUrl = "https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect@latest" %}
<section class="content rounded-6 min-height-on-desktop fc-portal-solution-home" id="solutions-index-home">
    <div class="solution-list-section">
        <div class="page-wrap">
            <div class="sidebar-wrap">
                <ul class="sidebar-solution-list">
                    {% for category in portal.solution_categories %}
                    {% if category.folders_count > 0 %}
                    <li class="sidebar-category-list">
                        <a href="javascript:"><span class="category-icon">
                            <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}.svg" class="normal-cate-icon">
                            <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}-active.svg" class="active-cate-icon"></span>{{category.name}}
                        </a>
                        {% for folder in category.folders %}
                        {% if folder.articles_count > 0 %}
                        <ul class="sidebar-folder-list" data-count="{{folder.articles_count}}">
                            <li><a href="{{folder.url}}" class="folder-button">{{folder.name}}</a></li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="sidebar-category-list contact-li">
                      <a href="/support/home#contact" data-id="contact"><span class="category-icon">
                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon.svg" class="normal-cate-icon">
                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon-active.svg" class="active-cate-icon"></span>Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-main search-result-div">

                <div class="seach-view-category">
                    <div class="main-accordion-content">
                        {% for category in portal.solution_categories %}
                            <div class="sidebar-wrap desktop-content">
                                <ul class="sidebar-solution-list">
                                {% if category.folders_count > 0 %}
                                    <li class="sidebar-category-list" id="category_{{category.id}}">
                                        <a href="#"><span class="category-icon">
                                        <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}.svg" class="normal-cate-icon">
                                        <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}-active.svg" class="active-cate-icon"></span>{{category.name}}
                                        </a>
                                        {% for folder in category.folders %}
                                            {% if folder.articles_count > 0 %}                                    
                                                <ul class="sidebar-folder-list" data-count="{{folder.articles_count}}" id="folder_{{folder.id}}">
                                                    <li>
                                                        <a data-id="folder_{{folder.id}}" class="folder-button" href="/support/home#folder_{{folder.id}}">{{folder.name}}</a>
                                                        <div class="folder-title">{{folder.name}}</div>
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                </ul>                        
                            </div>
                        {% endfor %}
                    </div>
                    <div class="conact-us-box-wrap">
                        <div class="sidebar-wrap desktop-content">
                            <ul class="sidebar-solution-list">
                                <li class="sidebar-category-list contact-li">
                                    <a class="folder-button" data-id="contact" href="/support/home#contact">
                                       <span class="category-icon">
                                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon.svg" class="normal-cate-icon">
                                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon-active.svg" class="active-cate-icon">
                                       </span>
                                        Contact Us
                                      </a>
                                </li>
                            </ul>
                        </div>
                    </div>                     
                </div>
                
                <div class="folder-title">{% translate portal.search.results_for %} "{{ search.term | escape_once }}"</div>

                {% if search.result_count != 0 %}
                    <ul class="search-results-list">
                        {% for result in search.results %}
                        <li class="{{ result.type | downcase }}-item">              
                            <a href="{{result.url}}">{{ result.title }}</a>
                            <div>{{ result.desc }}</div>
                            <p class="help-text">
                                <b>{{ result.group }}</b>
                                {{ result.source.created_on | short_day_with_time }}
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                    {{ search.pagination }}
                {% else %}
                    <div class="lead">{% translate search.no_results_msg %}</div>
                {% endif %}                
            </div>
        </div>
    </div>
</section>