<section class="content main rounded-6 fc-new-ticket">
	<h3 class="heading">{% translate ticket.submit_ticket_title %}</h3>
  	{% snippet new_ticket_form %}
</section>

<section class="sidebar content-light rounded-6 hide ticket-search" id="new-ticket-search">
	<br />
</section>	