{{ header }}
<div class="page">
	<!-- Notification Messages -->
	{{ page_message }}

	{% if portal.current_page != "user_signup" and portal.current_page != "submit_ticket" %}
	<div class="c-wrapper">		
		{{ content_for_layout }}
	</div>
	{% elsif portal.current_page == "submit_ticket" %}
	<div class="c-wrapper">		
		<div class="new_ticket_page">
		{{ content_for_layout }}
		</div>
	</div>
	{% else %}
	<div class="signup-page">
	<div class="signup-wrapper">
	{{ content_for_layout }}
	</div>
	</div>
	{% endif %}
</div>
{{ footer }}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        //SD placeholders
        window.sdCustomPlaceholder = {};

        //property name must match element id on page
        window.sdCustomPlaceholder.sdCompanyName = 'Cruise Fashion';
        window.sdCustomPlaceholder.sdAddress1 = 'Unit A';

        window.sdCustomPlaceholder.sdCSEmail = 'customercare@cruisefashion.com';
        window.sdCustomPlaceholder.sdCompanyNumber = '03406347';
        window.sdCustomPlaceholder.sdCompanyVat = 'GB 231 5087 33';
        window.sdCustomPlaceholder.sdFriendlySiteName = 'Cruise Fashion';
        window.sdCustomPlaceholder.sdSiteOperatedBy = 'SportsDirect.com Retail Ltd.';
        window.sdCustomPlaceholder.sdSiteOperatedAddress = 'Unit A, Brook Park East, Meadow Lane, Shirebrook, NG20 8RY';
        window.sdCustomPlaceholder.sdSiteOperatedCompanyNumber = '03406347';
        window.sdCustomPlaceholder.sdPaymentMethodsText = '<ul><li>American Express (AMEX)</li><li>Gift Cards</li><li>Maestro</li><li>Mastercard</li><li>PayPal</li><li>VISA</li><li>VISA Debit</li><li>VISA Electron</li></ul>';
        window.sdCustomPlaceholder.sdStandardUkDelivery = '6.99';
        window.sdCustomPlaceholder.sdAltDelivery = ' and Next Day Delivery (usually £9.99)';
        window.sdCustomPlaceholder.sdCollectinStore = '';
        window.sdCustomPlaceholder.sdExpressUpgrade = '';
        window.sdCustomPlaceholder.sdNextDayDeliveryTime = '6pm';
        window.sdCustomPlaceholder.sdStandDelDays = 'three (3) to five (5) days';
        window.sdCustomPlaceholder.sdBfpoDelivery = "£15";
        window.sdCustomPlaceholder.sdExpressText = '';
        window.sdCustomPlaceholder.sdNextText = "<p><strong>Next Day Delivery</strong></p><p>Place your order before 7pm and receive your order the very next day (excludes Public / Bank Holidays). For only £9.99!</p><p>If you select our Next Day Delivery option, and your order is placed and accepted before 7pm, we aim to have your order delivered to your door the very next day provided the next day is not a Public / Bank Holiday. Orders placed after 7pm will take an extra 24 hours to deliver (excludes Public / Bank Holidays).</p>";

        window.sdCustomPlaceholder.sdTableTennis = '';
        window.sdCustomPlaceholder.sdExpressDeliveryTitle = 'Express Delivery';
        window.sdCustomPlaceholder.sdPersonalisedGoods = '';
        window.sdCustomPlaceholder.sdCancellationEmail = 'customercare@cruisefashion.com';
        window.sdCustomPlaceholder.sdReturnsAddressSingle = 'Customer Returns, Unit D, Brook Park East, Shirebrook, UNITED KINGDOM, NG20 8RY.';
        window.sdCustomPlaceholder.sdReturnsAddress = '<p>Customer Returns,<br />Unit D,<br /> Brook Park East,<br /> Shirebrook,<br /> UNITED KINGDOM,<br /> NG20 8RY.</p>';
        window.sdCustomPlaceholder.sdSpecialExtraGoodsInfo = ' and include all applicable taxes.';
        window.sdCustomPlaceholder.sdChristmasDelivery = '';
        window.sdCustomPlaceholder.sdUkorNot = 'UK';
        window.sdCustomPlaceholder.sdStandDeliveryCost = '<p>Get Standard UK Delivery for only <strong>&pound;6.99</strong>.</p>';
        window.sdCustomPlaceholder.sdNextDayDeliveryTitle = 'Next Day Delivery';
        window.sdCustomPlaceholder.sdNextDayText = 'the very next day';
        window.sdCustomPlaceholder.sdNextDeliveryCost = '£9.99';
        window.sdCustomPlaceholder.sdSpecialistItems = '';
        window.sdCustomPlaceholder.sdCountryShortTnc = 'UK';
        window.sdCustomPlaceholder.sdCountryShortTncThe = 'the United Kingdom';
        window.sdCustomPlaceholder.sdDeliverToStore = "<p><strong>Click &amp; Collect</strong></p><p>You can get your order delivered to one of our stores within the UK. Once your order has been delivered to your chosen store, you'll get an email confirming it's ready to be picked up, this email will also contain your unique delivery code which is required for collecting your parcel. Your parcel will take three (3) to five (5) days to be delivered to your chosen store for &pound;6.99.</p><p>Every time you use our Click & Collect delivery service and collect your parcel from our own stores, if your order value is £200 or more you will receive a £10 voucher to spend in store. You'll be given your voucher by our store staff when you collect your parcel.</p><p>Your parcel can only be collected within your chosen stores opening hours. Please ensure you have your order number, unique delivery code (from your order collection email) and a form of ID, if you don't have all three, you will not be able to collect your order.</p><p>Acceptable forms of ID are: <br>• Cheque Guarantee / Credit / Debit Card<br>• Bank / Building Society Book<br>• Valid Passport<br>• Cheque Book<br>• Drivers Licence<br>• Utility Bill</p><p>For under 18s: <br>• National Insurance Card<br>• Medical Card<br>• Savings Book</p><p>Please note that if you would like someone else to collect the parcel on your behalf, they will either need proof of your identity or identification with the same surname as yours.</p><p>You have up to 28 days to collect your parcel from your chosen store. You will be reminded three times within this period to pick up your parcel. If you fail to pick up your parcel within this period, it will be returned to the warehouse, you will then need to speak to Customer Services for a refund.</p>";

        window.sdCustomPlaceholder.sdDelivertoStorePage = "<p>As part of our delivery options you can select 'Click &amp; Collect' and select your preferred Cruise store. </p><p>Please note: some stores might not be open just now or have the option for Click & Collect available.</p><p>Once your order has been delivered to your selected Cruise store, you will get an email confirming it is ready to be picked up. This email contains your unique delivery code that you will need to be able to collect your parcel.</p><p>As a thank you for selecting 'Click &amp; Collect' and if your order value is £200 or more, you will receive a £10 voucher to spend in store when you pick up your order.</p><p>Your order can be picked up during store opening hours and you have 28 days to collect it. If you don't pick up your parcel during this time it will be returned to the warehouse. Please contact <a href='https://www.flannels.com/customerservices/contactus/contactform' rel='noopener noreferrer' target='_blank'><strong>Customer Services</strong></a> to receive your refund.</p><p>When collecting your order, please remember to have your order number, your unique delivery code and a form of ID with you.</p><p>If you want someone to pick up your parcel on your behalf, they will either need proof of your identity or their own identification with the same surname as you.</p><p>Here's a list of forms of ID we accept:</p><ul><li> <p>Cheque Guarantee / Credit / Debit Card</p></li><li><p>Bank / Building Society Book</p></li><li><p>Valid Passport</p></li><li><p>Cheque Book</p></li><li><p>Drivers Licence</p></li><li><p>Utility Bill</p></li></ul><p>If you are under 18:</p><ul><li><p>National Insurance Card</p></li><li><p>Medical Card</p></li><li><p>Savings Book</p></li></ul>";

        window.sdCustomPlaceholder.sdAffiliateLink = '<p>For affiliate enquiries please contact our <a href="/customerservices/contactus/contactform">Customer Services</a></p>';
        window.sdCustomPlaceholder.sdCompanyAddressSingleLine = 'Unit A, Brook Park East, Meadow Lane, Shirebrook. NG20 8RY.';
        window.sdCustomPlaceholder.sdCompanyAddress = '<p>Unit A, Brook Park East<br />Meadow Lane<br /> Shirebrook<br /> NG20 8RY</p>';
        window.sdCustomPlaceholder.sdIcoNumber = 'Z7243814';
        window.sdCustomPlaceholder.sdCatalogName = 'CruiseFashion';
        window.sdCustomPlaceholder.sdSiteDomain = 'cruisefashion.com';
        window.sdCustomPlaceholder.sdReturnPolicy = "<p>We are happy to offer an exchange or credit note for items returned unworn and in perfect condition within 14 days of purchase.</p><p>A valid receipt is required for all returns.</p><p>We regret we are unable to offer returns on swimwear, underwear or pierced jewellery.</p><p>Your statutory rights will not be affected</p>";
        window.sdCustomPlaceholder.sdOnlineReturn = "";
        window.sdCustomPlaceholder.sdReturnPurchasePolicy = "<p>We are happy to offer an exchange or credit note for any unwanted items returned within 14 days of purchase.</p><p>Items must be returned in their original packaging in a saleable condition with a receipt.</p><p>Refunds will only be offered in accordance with your statutory rights (which remain unaffected).</p><p>You will need to produce proof of purchase</p><p>You can’t return an in-store purchase to our online returns warehouse. In-store purchases must be returned to a store to be processed.</p><p>If you want a full refund for your online order, you must return it to our online warehouse. The return needs to reach us within 28 days of you receiving your order.</p><p>No returns will be accepted without valid proof of purchase, so please make sure you have your receipt with you. Swimwear, lingerie and pierced jewelry cannot be returned unless faulty.</p>";
        window.sdCustomPlaceholder.covidText = "";
        window.sdCustomPlaceholder.sdTeleNumber = "(+44) 0344 245 9658";
        window.sdCustomPlaceholder.sdVoucherValue = "£10";
        window.sdCustomPlaceholder.sdWrongItemOtherFascias = "<p>We need to ask you to return your incorrect item to us so that we can refund you for it.</p><p>Please ensure you retain your returns proof of postage as we will need that to reimburse your return postage cost once the item(s) have been assessed by our returns warehouse.</p><p>Send a copy of your proof of postage in an email to request the postage refund and we will process this for you.</p><p>We try and process refunds as quickly as possible  but it can take up to 14 days. Part of this is depending on your bank's processes.</p><p>To return your item(s), print the returns form, complete it and return it with your goods to;</p><p><br>Customer Returns<br>Unit D<br>Brook Park East<br>Shirebrook<br>NG20 8RY</p>";
        window.sdCustomPlaceholder.sdClickCollectDays = "three (3) to five (5) days";
        window.sdCustomPlaceholder.sdClickCollectCost = "£6.99";
        window.sdCustomPlaceholder.sdVoucherSpend = "£200";
        window.sdCustomPlaceholder.sdStoreReturnTime = "within 28 days";
        window.sdCustomPlaceholder.sdContactUS = "<p><a href='https://help.cruisefashion.com/support/solutions/articles/76000018502-contact-us'>Contact us here</a></p>";
        window.sdCustomPlaceholder.sdThirdParties = "<ol><li>Akamai</li><li>Anatwine</li><li>Awin</li><li>Carbon Black</li><li>Conversocial</li><li>Criteo</li><li>Customs clearance agents</li><li>Datacash</li><li>Emarsys</li><li>Facebook</li><li>Google AdWords</li><li>Google Analytics</li><li>Google Double Click</li><li>Instagram</li><li>Metapack</li><li>Motion Point</li><li>National Business Crime Solution Limited</li><li>Polyvore</li><li>Reviews.co.uk</li><li>Splunk</li><li>Twitter</li><li>UniDAYS</li><li>User Replay</li></ol>";

        //SD start of function to fix page
        window.FixPlaceholdersIFramesAndLinks = function () {

            //SD custom code start for apps
            var links = document.getElementsByClassName('category-list-item__link')
            for (var i = 0; i < links.length; i++) { links[i].href = links[i].href + '-'; }
            //SD custom code end for apps

            //SD custom code start for placeholders
            var sdKeys = [];
            for (prop in window.sdCustomPlaceholder) { sdKeys.push(prop) }

            for (key in sdKeys) {
                var elements = document.getElementsByClassName(sdKeys[key]);
                if (elements != undefined) {
                    for (var i = 0; i < elements.length; i++) {
                        var element = elements[i]
                        if (window.sdCustomPlaceholder[sdKeys[key]][0] == "<" && window.sdCustomPlaceholder[sdKeys[key]][window.sdCustomPlaceholder[sdKeys[key]].length - 1] == ">") {
                            element.innerHTML = window.sdCustomPlaceholder[sdKeys[key]];
                        } else {
                            element.innerText = window.sdCustomPlaceholder[sdKeys[key]];
                        }
                    }
                }
            }
            //SD custom code end for placeholders

            //SD start of iFrame fix
            var sizeGuideIframe = document.getElementById('sdSizeGuide');
            if (sizeGuideIframe != undefined) {
                sizeGuideIframe.src = 'https://www.cruisefashion.com/popup_sizeguide';
            }

            var currentPromosIframe = document.getElementById('sdCurrentPromos');
            if (currentPromosIframe != undefined) {
                currentPromosIframe.src = 'https://www.cruisefashion.com/Pages/freshworks-terms';
            }
            //SD end of iFrame fix

            //SD custom code start for link correction
            var sdLinkSite = 'https://www.cruisefashion.com';
            //var linksToReplace = document.getElementsByTagName('a');
            var linksToReplace = jQuery('a:not(.ignore-a)');
            for (var i = 0; i < linksToReplace.length; i++) {
                linksToReplace[i].href = linksToReplace[i].href.replace('https://www.flannels.com', sdLinkSite);
            }
            //SD custom code end for link correction  

            //SD fix title
            document.title = document.title.replace('Flannels', 'Cruise Fashion');

        };
        //SD end of function to fix page

        window.FixPlaceholdersIFramesAndLinks();

        document.addEventListener('pjax:end', window.FixPlaceholdersIFramesAndLinks, false);

    }, false);
</script>

<script>
    (function (d, w, c) {
        if (!d.getElementById("spd-busns-spt")) {
            var n = d.getElementsByTagName('script')[0],
                s = d.createElement('script');
            var loaded = false;
            s.id = "spd-busns-spt";
            s.async = "async";
            s.setAttribute("data-self-init", "false");
            s.setAttribute("data-init-type", "opt");
            s.src = 'https://cdn.euc-freshbots.ai/assets/share/js/freshbots.min.js';
            s.setAttribute("data-client", "95129549499e5dcdc96e111a5306cfc0bbddd54c");
            s.setAttribute("data-bot-hash", "e1f37dd683e6536c711bedba04ebe0b1ac2e2406");
            s.setAttribute("data-env", "prod");
            s.setAttribute("data-region", "euc");
            if (c) {
                s.onreadystatechange = s.onload = function () {
                    if (!loaded) {
                        c();
                    }
                    loaded = true;
                };
            }
            n.parentNode.insertBefore(s, n);
        }
    })(document, window, function () {
        Freshbots.initiateWidget({
            autoInitChat: false,
            getClientParams: function () {
                return {
                    "productID": "76000000479",
                    "FasciaSite": "cruisefashion",
                    "FasciaName": "Cruise",
                    "fdAccount": "houseoffraser.freshdesk.com"
                };
            }
        }, function (successResponse) { }, function (errorResponse) { });
    }); 
</script>