{% assign currentFolderid = folder.id %}
{% assign currentCategoryid = category.id %}
{% assign imagePrefixUrl = "https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect@latest" %}
<section class="content rounded-6 min-height-on-desktop fc-portal-solution-home" id="folder-show-{{folder.id}}">
    <div class="solution-list-section">
        <div class="page-wrap">
            <div class="sidebar-wrap">
                <ul class="sidebar-solution-list">
                    {% for category in portal.solution_categories %}
                    {% if category.folders_count > 0 %}
                    <li class="sidebar-category-list {% if category.id == currentCategoryid %}open{% endif %}">
                        <a href="javascript:"><span class="category-icon">
                            <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}.svg" class="normal-cate-icon">
                            <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}-active.svg" class="active-cate-icon"></span>{{category.name}}
                        </a>
                        {% for folder in category.folders %}
                        {% if folder.articles_count > 0 %}
                        <ul class="sidebar-folder-list" data-count="{{folder.articles_count}}" {% if category.id == currentCategoryid %}style="display: block;"{% endif %}>
                            <li><a class="folder-button {% if folder.id == currentFolderid %}selected{% endif %}" href="#folder_{{folder.id}}">{{folder.name}}</a></li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="sidebar-category-list contact-li">
                        <a href="#contact" data-id="contact"><span class="category-icon">
                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon.svg" class="normal-cate-icon">
                            <img src="{{imagePrefixUrl}}/category/contact-us-menu-icon-active.svg" class="active-cate-icon"></span>Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-main">
                {% for category in portal.solution_categories %}
                    <div class="sidebar-wrap desktop-content">
                    <ul class="sidebar-solution-list">
                    {% if category.folders_count > 0 %}          
                        <li class="sidebar-category-list" id="category_{{category.id}}">
                            <a href="javascript:"><span class="category-icon">
                            <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}.svg" class="normal-cate-icon">
                            <img src="{{imagePrefixUrl}}/category/{{category.name | replace: " &", "" | replace: " ", "-" | downcase }}-active.svg" class="active-cate-icon"></span>{{category.name}}
                            </a>
                            {% for folder in category.folders %}
                                {% if folder.articles_count > 0 %}                                    
                                    <ul class="sidebar-folder-list {% if folder.id == currentFolderid %}active{% endif %}" data-count="{{folder.articles_count}}" id="folder_{{folder.id}}">
                                        <li>
                                            <a data-id="folder_{{folder.id}}" class="folder-button {% if folder.id == currentFolderid %}selected{% endif %}" href="/support/home#folder_{{folder.id}}">{{folder.name}}</a>
                                            <div class="folder-title">{{folder.name}}</div>
                                            <div class="accordion-container">
                                                {% for article in folder.articles %}
                                                <div class="accordion-header">
                                                    <a>
                                                        {{article.title}}
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                    <div class="accordion-content">
                                                        {{article.body}}
                                                        <!-- {{article | article_voting }} -->
                                                      	<div class="voting-section">
                                                            <p class="article-vote" id="voting-container_{{article.id}}" data-user-id="{{portal.user.id}}" data-article-id="{{article.id}}" data-language="en">
                                                              Did you find it helpful?
                                                                <span data-href="{{article.thumbs_up_url}}" class="vote-up a-link" id="article_thumbs_up" data-remote="true" data-method="put" data-update="#voting-container_{{article.id}}" data-user-id="{{portal.user.id}}" data-article-id="{{article.id}}" data-language="en" data-update-with-message="Glad we could be helpful. Thanks for the feedback.">
                                                                    Yes</span>
                                                                    <span class="vote-down-container">
                                                                        <span data-href="{{article.thumbs_down_url}}" class="vote-down a-link" id="article_thumbs_down" data-remote="true" data-method="put" data-update="#vote-feedback-form_{{article.id}}" data-user-id="{{portal.user.id}}" data-article-id="{{article.id}}" data-language="en" data-hide-dom="#voting-container_{{article.id}}" data-show-dom="#vote-feedback-container_{{article.id}}">
                                                                        No</span>
                                                                    </span>
                                                            </p>
                                                            <a class="hide a-link feedback-again" id="vote-feedback-form-link_{{article.id}}" data-hide-dom="#vote-feedback-form-link_{{article.id}}" data-show-dom="#vote-feedback-container_{{article.id}}">Send feedback</a>
                                                            <div id="vote-feedback-container_{{article.id}}" class="hide vote-feedback">
                                                                <div class="lead">Sorry we couldn't be helpful. Help us improve this article with your feedback.</div>
                                                                <div id="vote-feedback-form_{{article.id}}">
                                                                    <div class="sloading loading-small loading-block"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                    </ul>                        
                    </div>
                {% endfor %}                
            </div>
        </div>
    </div>
</section> 