/*theme-style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --tertiary-color: #F2F2F2;
    --search-bg: #000000;
    --white-color: #FFFFFF;
    --light-gray: #CBCBCB;
    --back-to-site: #000000;
    --sidebar-link-active: #333333;
    --sidebar-link-head: #333333;
    --sidebar-link-active-head: #333333;
    --sidebar-bg-active: #F7F7F7;
    --site-title: #333333;
    --article-cancel: #EEEEEE;
    --search-bg-color: #F7F7F7;
    --body-font: 'Poppins', sans-serif;
    ;
    --voteup-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-up-black.svg');
    --votedown-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/thumbs-down-black.svg);
    --searchbtn-url: url('https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/search-icon-white.svg');
    --accordion-minus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/minus-icon.svg);
    --accordion-plus-url: url(https://cdn.jsdelivr.net/gh/tag-dineshs/sportdirect/plus-sign.svg);

}

.control-group .controls select {
    width: 100%;
}

body {
    font-family: var(--body-font);
    background-color: var(--white-color);
}

@media screen and (min-width: 1250px) {
    .page {
        max-width: 1225px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

a,

.feature-article-caption p,
.footer-menu-list li a:hover {
    color: var(--primary-color);
}

.back-to-site-link a {
    color: var(--back-to-site);
}

.sidebar-solution-list li>a {
    color: var(--sidebar-link-head);
    font-weight: 500;
}

.sidebar-solution-list li>a:hover,
.sidebar-solution-list .sidebar-folder-list li a:hover,
.sidebar-solution-list .sidebar-folder-list li a.folder-button.selected {
    color: var(--sidebar-link-active);

}

.sidebar-solution-list li>a:hover,
.sidebar-solution-list .sidebar-folder-list li a:hover {
    background-color: var(--sidebar-bg-active);
}

.page-main .sidebar-solution-list .sidebar-folder-list li a:hover {
    background-color: transparent;
}

.sidebar-solution-list .sidebar-folder-list li a.folder-button.selected {
    font-weight: 700;
}

.page-main .sidebar-solution-list .sidebar-folder-list .accordion-header>a:hover {
    background-color: transparent;
}

/*.sidebar-solution-list li>a:hover .category-icon .normal-cate-icon{
    opacity: 0;
}
.sidebar-solution-list li>a:hover .category-icon .active-cate-icon{
opacity: 1;
}*/
.btn:hover {
    background-color: rgba(225, 225, 225, 0.7);
}

a.btn.btn-site-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-color);
}

.sidebar-solution-list li.open {
    background-color: var(--sidebar-bg-active);
}

.folder-title,
.featured-articles-section h3 {
    color: var(--site-title);
}

.footer-banner-section {
    background-color: var(--search-bg-color);
}

.hc-search-button .btn.btn-primary {
    background-color: var(--search-bg);
    border-radius: 0;
}

.footer-sumbit-ticket-btn {
    background-color: var(--search-bg);
    color: var(--white-color);
}

.sidebar-solution-list li.open>a {
    color: var(--sidebar-link-active-head);
}

.footer-sumbit-ticket-btn:hover,
.hc-search-button .btn.btn-primary:hover,
a.btn.btn-site-primary:hover {
    background-color: #404040;
    color: #fff;
    text-decoration: none;
    border-color: #404040;
}

.banner a:hover {
    color: #bbbbbb;
    text-decoration: none;
}




/*theme-style-end*/

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

a.portal-logo {
    margin: 0;
}

a.btn.btn-site-primary {
    text-shadow: none;
}

.banner {
    border: none;
}

header.banner {
    padding: 12px 0;
}

header.banner .page {
    padding-top: 0;
    padding-bottom: 0;
}

.portal-img {
    height: auto;
}

.back-to-site-link a {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;

}

.submit-text-wrap .btn {
    font-size: 12px;
    letter-spacing: 0px;
    color: var(--white-color);
    font-weight: 400;
    padding: 7px 29px;
    text-transform: uppercase;
}

.banner-section {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-section h1 {
    font-size: 38px;
    letter-spacing: 0px;
    line-height: normal;
    font-weight: 700;
    color: #000000;
    padding: 52px 0;
}

.footer-search-warp {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    min-height: 275px;
}

.search-img {
    position: absolute;
    bottom: -2px;
    left: 0;
}

.footer-banner-section {
    min-height: 275px;
    margin-top: 75px;
}

.footer-banner-section .page {
    padding-top: 0;
    padding-bottom: 0;
}

.footer-search-box {
    max-width: 610px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    left: 135px;
}

.hc-search-input {
    width: calc(100% - 60px);
}

.hc-search-button {
    width: 60px;
}

.hc-search-input input.special {
    font-size: 14px;
    letter-spacing: 0px;
    color: var(--light-gray);
    border-radius: 0;
    width: 100%;
    height: 50px;
}

.hc-search-button .btn.btn-primary {
    height: 50px;
    line-height: 44px;
    padding: 3px;
    width: 60px;
    border-radius: 0;
}

.footer-search-box h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0px;
    color: var(--site-title);
    margin: 0 0 25px 0;
}

.hc-search-button .btn .hide-tablet {

    line-height: 40px;
}

.hc-search-button .btn .hide-tablet:before {
    content: "";
    background-image: var(--searchbtn-url);
    width: 24px;
    height: 24px;
    background-size: 24px;
    top: -3px;
    background-repeat: no-repeat;
    position: relative;
}

.footer-sumbit-ticket-btn span {
    padding: 7px 9px;
    display: inline-block;
}

.footer-sumbit-ticket-btn {
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 3px 3px;
    margin-top: 35px;
}

.c-wrapper {
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    border: none;
}

.content {
    padding: 0;
}

ul.sidebar-solution-list {
    padding: 0;
    margin: 0;
}

.sidebar-wrap {

    max-width: 380px;
    width: 100%;
}

ul.sidebar-solution-list {
    border: 2px solid var(--tertiary-color);
}

.page-main ul.sidebar-solution-list {
    border: none;
}

.sidebar-folder-list>li,
.sidebar-solution-list>li {
    list-style: none;
    padding: 0;
}

.sidebar-solution-list li.contact-li {
    display: none;
}

.sidebar-solution-list li.contact-li.active {
    display: list-item;
}

.accordion-content ol,
.accordion-content ul {
    margin-bottom: 10px;
}

.accordion-content table>thead>tr>th,
.accordion-content table>tbody>tr>td {
    border: 1px solid #ddd;
    padding: 8px;
    word-break: normal;
}

.accordion-content table {
    margin-bottom: 20px;
}

.accordion-content h2 {
    font-size: 20px;
}

.accordion-content h3 {
    font-size: 18px;
}

.accordion-content h2,
.accordion-content h3,
.accordion-content h4,
.accordion-content h5,
.accordion-content h6 {
    margin-bottom: 5px;
}

.sidebar-folder-list {
    display: none;
    margin: 0;
    padding: 0;
}

.sidebar-solution-list li>a {
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0px;

    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 94% center;
    background-size: 18px;
    padding: 12px 20px;
    position: relative;
}

.sidebar-solution-list li>a:after {
    font-family: "glyphs";
    content: "\f10b";
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 30px;
    font-weight: normal;

}

.sidebar-solution-list li:first-child>a {
    padding-top: 25px;
    background-position: 94% 59%;
}

.sidebar-solution-list li:first-child>a:after {
    top: 23px;
}

span.category-icon {
    display: inline-block;
    width: 50px;
    position: relative;
}


/*.sidebar-solution-list li:hover{
        background-color: var(--secondary-color);
    }*/

.sidebar-solution-list li:hover a {
    /*color: var(--white-color);*/
    text-decoration: none;
}

.sidebar-solution-list .sidebar-folder-list li a {
    font-size: 16px;
    letter-spacing: 0px;
    color: var(--secondary-color);
    padding: 10px 36px 10px 10px;

    text-transform: uppercase;
    background-image: none;
}

.sidebar-wrap .sidebar-solution-list .sidebar-folder-list li a.folder-button {
    position: relative;
}

.sidebar-wrap .sidebar-solution-list .sidebar-folder-list li a.folder-button:after {
    background-image: none;
    font-family: "glyphs";
    content: "\f10b";
    position: absolute;
    top: 8px;
    right: 27px;
    transform: none;
    font-size: 22px;
    transform: rotate(0);
    font-weight: normal;
}

.conact-us-box-row .accordion-content {
    text-align: center;
}

.main-accordion-content .sidebar-wrap .sidebar-solution-list .sidebar-folder-list li a:after {
    display: none;
}

.conact-folder-view {
    display: none;
}

.sidebar-solution-list .sidebar-folder-list li .accordion-content a {
    color: var(--primary-color);
    text-transform: unset;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-solution-list .sidebar-folder-list li .accordion-content a.btn {
    border-radius: 2px;
    background-color: var(--article-cancel);
    border: solid 1px #a2a2a2;
    background-image: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #183247;
    padding: 8.5px 20px;
    text-transform: uppercase;
    text-shadow: none;
}



.primary-fill-color {
    fill: var(--primary-color);
}

#vote-feedback-form .form-actions {
    padding-top: 0;
    margin-top: 0;
    border: none;
}

a.inactive i {
    display: none;
}


.sidebar-solution-list li.open>a:after {
    transform: rotate(90deg);
}

.sidebar-folder-list {
    padding: 0px 0 0px 95px;
}

.sidebar-solution-list li .sidebar-folder-list:first-child {
    padding-top: 5px;
}

.sidebar-solution-list li .sidebar-folder-list:last-child {
    padding-bottom: 5px;
}

.accordion-container {
    background: var(--white-color) 0% 0% no-repeat padding-box;
    border: 2px solid var(--tertiary-color);
}

.accordion-header {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--tertiary-color);
    border-bottom: 1px solid #ddd;
}

.accordion-header:last-child {
    border-bottom: none;
}

.accordion-header>a,
.sidebar-solution-list .sidebar-folder-list .accordion-header>a {
    display: block;
    padding: 0;
    text-decoration: none;
    padding: 28px 80px 28px 32px;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-size: 16px;
    letter-spacing: 0px;
    color: var(--secondary-color);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}

.sidebar-solution-list .sidebar-folder-list .accordion-header>a:hover {
    color: var(--secondary-color);
}

.accordion-header>a i {
    float: right;
    width: 40px;
    margin-top: 0;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 16px;
}

.accordion-header.bg-active {
    background-color: var(--white-color);
}

.accordion-content {
    padding: 0 32px 40px 32px;
    display: none;
}

.accordion-content p,
.sidebar-solution-list .sidebar-folder-list .accordion-content li a {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    margin-bottom: 20px;
    padding: 0;
}

.accordion-content p:last-child {
    margin-bottom: 0;
}

.page-main {
    width: calc(100% - 380px);
    margin-left: 30px;
}

.page-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.folder-title,
.featured-articles-section h3 {
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: 500;
    margin: 0 0 30px 0;
    text-transform: uppercase;
}

.folder-title {
    margin-top: 5px;
}

.featured-articles-img {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.featured-articles-list {
    display: flex;
    flex-wrap: wrap;
}

.featured-articles-media-box {
    width: 25%;
    padding: 0 15px;
}

.featured-articles-media-box a:hover {
    text-decoration: none;
}

.featured-articles-media-box a:hover p {
    color: #afafaf;
}

.featured-articles-section h3 {
    margin-bottom: 24px;
}

.feature-article-caption p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    word-wrap: break-word;
    white-space: normal;
    text-transform: uppercase;
    font-weight: 500;
}

.feature-article-caption {
    margin-top: 15px;
}

#solutions-index-home {
    min-height: auto;
    margin-bottom: 40px;
}

.featured-articles-list-row {
    margin: 0 -15px;
}

.accordion-header>a i.fa.fa-minus:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background-image: var(--accordion-minus-url);
    width: 15px;
    height: 4px;
    background-size: 15px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.accordion-header>a i.fa.fa-plus:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background-image: var(--accordion-plus-url);
    width: 14px;
    height: 14px;
    margin: 0 auto;
    background-size: 14px;
    background-repeat: no-repeat;
}

.footer-bottom-wrap-row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.33%;
}

.col-md-6 {
    width: 50%;
}


.footer-bottom-wrap h4 {
    font-size: 14px;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-style: normal;
}

.footer-menu-list {
    margin: 0;
    padding: 0;
}

.footer-menu-list li,
.footer-menu-list li a {
    list-style: none;
}

.footer-menu-list li {
    margin-bottom: 8px;
}

.footer-menu-list li a {
    font-size: 12px;
    color: var(--secondary-color);
    margin: 0;
}

.footer {
    padding: 0;
}

.footer .page {
    padding-top: 0;
    padding-bottom: 0;
}

.footer-bottom {
    padding: 25px 0 0px;
}

.footer-bottom-wrap {
    padding-bottom: 42px;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-social-contact-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer-social-contact-list li {
    list-style: none;
}

.footer-social-contact-list li {
    margin: 0 25px;
}

.footer-social-contact-list li a {
    margin: 0;
}

.footer-menu-list li a:hover {
    text-decoration: none;
}

.footer-copy-right {
    padding: 40px 15px 30px;
    text-align: center;
}

.footer-copy-right p {
    font-size: 14px;
    margin: 0;
}

.banner-section {
    margin-bottom: 11px;
}

/*.sidebar-solution-list li.open img.normal-cate-icon {
    opacity: 0;
}*/

img.active-cate-icon {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
}

/*.sidebar-solution-list li.open img.active-cate-icon {
    opacity: 1;
}*/

.page-main .sidebar-wrap {
    /*display:none;*/
    width: 100%;
    max-width: 100%;
    border: none;
}

.page-main .sidebar-folder-list {
    padding: 0;
}

.search-results-list li.article-item {
    border: solid 2px var(--tertiary-color);
    margin-bottom: 20px;
    padding: 20px 32px 10px 32px;
}

.search-results-list .match {
    background-color: transparent;
}

.search-results-list li.article-item:before {
    display: none;
}

.search-results-list .help-text b,
.search-results-list .help-text {
    color: var(--secondary-color);
    font-weight: 600;
}

.search-results-list .help-text b {
    margin-right: 5px;
}

.search-results-list a {
    color: var(--secondary-color);
    margin-bottom: 10px;
    display: block;
}

.search-results-list div {
    color: #393939;
    margin-bottom: 5px;
}

.search-results-list li.ticket-item {
    border: 2px solid #F2F2F2;
    margin-bottom: 15px;
}

.search-results-list li.ticket-item:before {
    display: none;
}

.search-results-list li a {

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.search-results-list div {

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #393939;
    margin-bottom: 15px;
}

.search-results-list .help-text {

    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    color: var(--secondary-color);
    margin: 0;
}

/*.active .accordion-container {
    display: block;
}*/

.sidebar-folder-list:not(.active) .folder-title {
    display: none;
}

.search-result-div .folder-title {
    display: block;
}

.accordion-header>a,
.sidebar-solution-list .sidebar-folder-list .accordion-header:first-child>a {
    padding-top: 38px;
}

span.menu-icon {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
}

.accordion-content.active {
    display: block;
}

.accordion-content #article-author,
.accordion-content .muted {
    display: none;
}

.accordion-content .article-vote {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin: 35px 0 0 0;
    color: var(--secondary-color);
}

.accordion-content .article-vote .vote-down,
.accordion-content .article-vote .vote-up {
    font-size: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 20px;
    background-repeat: no-repeat;
    margin: 0 10px;
    vertical-align: middle;
}

.accordion-content .article-vote .vote-up {
    background-image: var(--voteup-url);
    margin-left: 20px;

}

.accordion-content .article-vote .vote-down {
    background-image: var(--votedown-url);

}

.accordion-content .vote-down-container:before {
    display: none;
}

.vote-feedback {
    margin-left: 0;
}

.page {
    min-height: inherit;
}

#vote-feedback-container .lead {
    font-size: 15px;
}



input[type="checkbox"]:checked:before {
    background-color: #496de5;
    border: 1px solid #496de5;
}

div#vote-feedback-container {
    margin-left: 0;
    margin-top: 20px;
}

.fc-new-ticket {
    border-right: none;
}

.sidebar {
    background-color: transparent;
}

.heading {
    font-family: var(--body-font);
}

a.btn,
a.btn.btn-primary,
button.btn.btn-primary,
input[type="submit"].btn.btn-primary {
    font-family: var(--body-font);
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    line-height: 1.333;
    letter-spacing: normal;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.mobile-menu {
    position: absolute;
    left: -100%;
    top: 0;
    background: var(--white-color);
    width: 80%;
    height: 100vh;
    display: none;
    z-index: 10000000001;
    opacity: 0;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.4%);
}

.conact-us-box-row .accordion-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17.5px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.conact-us-box-row .accordion-header {
    border: 1px solid var(--tertiary-color);
    padding: 16px;
    width: calc(33.33% - 35px);
    margin: 0 17.5px 32px;

}

.conact-us-box-row .accordion-header h5 {
    font-size: 16px;
    line-height: normal;
    margin: 8px 0 15px 0;
    letter-spacing: 0px;
    color: var(--secondary-color);
}

.conact-us-box-row .accordion-header p {

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #393939;
    margin-bottom: 10px;
    min-height: 48px;
}

.conact-us-box-row .accordion-header .btn {

    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    color: var(--search-bg);
    background-color: transparent;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid var(--search-bg);
}

.conact-us-box-row .accordion-header .btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.voting-section .lead {
    font-size: 16px;
    font-family: var(--body-font);
    line-height: 1.33;
    font-weight: normal;
    color: var(--secondary-color);
}

.main-accordion-content .sidebar-wrap .sidebar-solution-list .sidebar-folder-list li .accordion-container a:after {
    display: none;
}

.primary-fill-color {
    fill: var(--primary-color);
    fill-rule: evenodd;
}

.conact-us-box-row .accordion-header .btn {
    text-shadow: none;
}

.conact-us-box-row .accordion-header .btn:hover {

    border-color: var(--primary-color);
}

.page-main.search-result-div {
    border: none;
}

.seach-view-category {
    display: none;
}

.sidebar-solution-list .sidebar-folder-list li .accordion-content a.btn:hover,
button.btn.btn-primary:hover,
input[type="submit"].btn.btn-primary:hover,
a.btn.btn-primary:hover,
.btn:hover {
    background-color: #afafaf;
    color: #FFFFFF;
}

a.btn {
    text-shadow: none;
}

.btn:hover {
    color: #fff;
}

.back-to-site-link,
.submit-text-wrap {
    min-width: 140px;
}

.search-img {
    max-width: 280px;
}

.menu-icon {
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 1px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-icon span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-icon span:nth-child(3) {
    top: 17px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.menu-icon.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 4px;
}

.menu-icon.active span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 4px;
}

.featured-articles-img.no-img {
    background-color: #ccc;
    background-image: none;
    position: relative;
}

.featured-articles-img.no-img:before {
    content: "Featured";
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
    font-size: 24px;
}

section.banner-section.no-image {
    background-color: var(--white-color);
}

section.banner-section.no-image h1 {
    padding: 20px;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .sidebar-wrap.desktop-content .sidebar-solution-list li.open {
        background-color: transparent;
    }

    .sidebar-wrap.desktop-content .sidebar-category-list>a {
        display: none;
    }

    .sidebar-folder-list.active {
        display: block;
    }

    .sidebar-wrap.desktop-content .sidebar-folder-list li>a.folder-button {
        display: none;
    }

    .conact-us-box-row .accordion-header>a {
        display: none;
    }

    .conact-us-box-row .accordion-content {
        display: block;
        padding: 0;
    }

    .conact-us-box-row .accordion-header {
        background-color: transparent;
    }
}

@media screen and (max-width: 1199px) {
    .conact-us-box-row .accordion-header {
        width: calc(50% - 35px);
    }
}

@media screen and (max-width: 1165px) {
    .featured-articles-list-row {
        margin: 0;
    }
}

@media screen and (max-width: 991px) {
    .footer-search-box {
        max-width: 450px;
    }

    .conact-us-box-row .accordion-header {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .conact-us-box-row .accordion-container {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    header.banner {
        position: relative;
    }

    .search-result-div .seach-view-category {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        border: 2px solid var(--tertiary-color);
    }

    .accordion-container.active,
    .single-page .sidebar-folder-list.active {
        display: block;
    }

    .single-page .accordion-container.active {
        border-bottom: solid 1px #e9e9e9;
    }

    .sidebar-wrap .sidebar-solution-list .sidebar-folder-list li a.folder-button:after {
        top: 12px;
    }

    .mobile-menu .back-to-site-link,
    .mobile-menu .submit-text-wrap {
        display: inline-block;
        width: 100%;
        margin: 20px auto 0px auto;
        text-align: center;
    }

    .submit-text-wrap .btn {
        float: none;
    }

    .back-to-site-link a {
        width: 100%;
    }

    .mobile-menu {
        display: block;
        transition: all ease 0.5s;
    }

    .mobile-menu.active {
        left: 0;
        opacity: 1;
    }

    .accordion-container {
        border: none;
    }

    .accordion-header>a,
    .sidebar-solution-list .sidebar-folder-list .accordion-header:first-child>a {
        padding-top: 18px;
    }

    .sidebar-solution-list li .sidebar-folder-list:last-child {
        padding-bottom: 0;
    }

    .portal-img img {
        max-width: 185px;
    }

    .hc-search-button .btn.btn-primary,
    .hc-search-button {
        width: 40px;
    }

    .banner-section {
        background-position: left;
    }

    .footer-bottom-wrap {
        display: none;
    }

    .hc-search-button .btn .hide-tablet:before {
        width: 18px;
        height: 18px;
        background-size: 18px;
        top: -1px;
    }

    .back-to-site-link,
    .submit-text-wrap {
        display: none;
    }

    .hc-search-button .btn .hide-tablet {
        line-height: 30px;
    }

    a.portal-logo,
    .brand-logo {
        width: 100%;
    }

    .search-img {
        display: none;
    }

    .hc-search-input input.special,
    .hc-search-button .btn.btn-primary {
        height: 37px;
    }

    .footer-search-box {
        max-width: 100%;
        text-align: center;
        left: 0;
    }

    .banner-section h1 {
        font-size: 32px;
    }

    .folder-title,
    .featured-articles-section h3 {
        font-size: 20px;
    }

    .feature-article-caption p {
        font-size: 13px;
        line-height: 16px;
    }

    .feature-article-caption {
        margin-top: 5px;
    }

    .featured-articles-media-box {
        margin-bottom: 15px;
    }

    .footer-banner-section {
        margin-top: 0;
    }

    #solutions-index-home {
        margin-bottom: 25px;
    }

    .featured-articles-section h3 {
        margin-bottom: 20px;
    }

    .featured-articles-media-box {
        flex: 0 0 50%;
        width: 50%;
    }

    .page-main .sidebar-folder-list {
        padding: 0;
    }

    .page-main .sidebar-folder-list li>a {
        padding-left: 86px;
    }

    .sidebar-solution-list li>a {
        font-size: 16px;
    }

    .sidebar-wrap,
    .accordion-container,
    .folder-title {
        display: none;
    }

    .page-main {
        width: 100%;
        max-width: 100%;
        margin: 0;
        border: 2px solid var(--tertiary-color);
    }

    .page-main .sidebar-wrap {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        float: left;
    }

    .sidebar-solution-list li .sidebar-folder-list:last-child {
        padding-bottom: 0;
    }

    .sidebar-solution-list li .sidebar-folder-list:last-child li>a {
        padding-bottom: 22px;
    }

    .sidebar-solution-list .sidebar-folder-list li a {
        font-size: 16px;
        letter-spacing: 0px;

        text-transform: uppercase;
    }

    .sidebar-solution-list .sidebar-folder-list li a {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0px;
    }

    .accordion-header>a,
    .sidebar-solution-list .sidebar-folder-list .accordion-header>a {
        padding: 18px 40px 18px 18px;
    }

    .accordion-header>a i {
        right: 7px;
    }

    span.menu-icon {
        display: block;
        transition: all ease .5s;
    }

    .accordion-header>a i.fa.fa-plus:before {
        width: 8px;
        height: 8px;
        background-size: 8px;
    }

    .accordion-header>a i {
        width: 25px;
        height: 25px;
    }

    .accordion-header>a i.fa.fa-minus:before {
        width: 8px;
        background-size: 8px;
    }

    .footer-search-box h3 {
        margin: 0 0 15px 0;
    }

    .hc-search-input {
        width: calc(100% - 45px);
    }

    .hc-search-button .btn.btn-primary,
    .hc-search-button {
        width: 45px;
    }


    .footer-search-warp {
        min-height: 50px;
        display: inline-block;
        padding: 35px 0 30px;
        margin: 0 auto;
        width: 100%;
    }

    .footer-sumbit-ticket-btn {
        margin-top: 27px;
    }

    .footer-banner-section {
        min-height: 50px;
    }

    .footer-social-contact-list li {
        margin: 0 8px;
    }

    .footer-copy-right {
        padding: 24px 15px 20px;
    }

    .footer-copy-right p {
        font-size: 12px;
    }

    .sidebar-solution-list .sidebar-folder-list li a,
    .accordion-header>a {
        font-weight: 500;
        font-size: 14px;
    }

    .conact-folder-view {
        display: none;
        width: 100%;
    }

    .conact-folder-view .accordion-container {
        display: inline-block;
        width: 100%;
        margin: 0;
    }

    .conact-us-box-row {
        display: inline-block;
        width: 100%;
    }

    .conact-us-box-row .accordion-header {
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .sidebar-solution-list li:first-child>a:after {
        top: 13px;
    }

    .main-accordion-content .sidebar-wrap .sidebar-solution-list .sidebar-folder-list li a:after {
        display: inline-block;
    }

    .conact-us-box-row .accordion-header {
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .conact-us-box-row .accordion-header:last-child {
        border: none;
    }

    .sidebar-wrap .sidebar-solution-list .sidebar-folder-list li a:after {
        top: 12px;
        right: 26px;

    }

    .sidebar-wrap .sidebar-solution-list .sidebar-folder-list li a.selected:after {
        transform: rotate(90deg);
        right: 27px;
    }

    .conact-us-box-row .accordion-header>a {
        font-size: 16px;
    }

    .conact-us-box-row .accordion-content {
        padding: 0 24px 24px 24px;
    }

    .conact-us-boxes {
        border: 1px solid #F2F2F2;
        padding: 16px;
    }

    .conact-us-box-row .accordion-header p {
        min-height: 42px;
    }

    .conact-us-box-row .accordion-header h5 {
        margin: 8px 0 12px 0;
    }
}





@media screen and (max-width: 640px) {
    span.category-icon {
        width: 40px;
    }

    .banner-section {
        margin-bottom: 0;
    }

    .banner-section h1 {
        padding: 70px 0 20px 0;
    }

    .sidebar-solution-list li>a {
        padding: 12px 35px 12px 10px;
    }


    .sidebar-solution-list li:first-child>a {
        padding-top: 12px;
        background-position: 95% 53%;
    }

    .sidebar-solution-list li>a {
        background-position: 92% center;
    }

    .featured-articles-media-box {
        padding: 0 8px;
    }



    .featured-articles-media-box {
        margin-bottom: 8px;
    }


}